Repository ravidorr/murphys-laws: changes, and which lint-staged commands are due for each by the changed paths.
All: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate, cd backend && eslint --fix, eslint --fix || echo 'Linting skipped: shared eslint not configured yet'

.lintstagedrc.json:

{
  "web/**/*.{js,mjs}": [
    "cd web && eslint --fix"
  ],
  "web/styles/**/*.css": [
    "cd web && stylelint --fix"
  ],
  "web/**/*.html": [
    "cd web && npx html-validate"
  ],
  "backend/**/*.{js,mjs}": [
    "cd backend && eslint --fix"
  ],
  "shared/**/*.{js,mjs}": [
    "eslint --fix || echo 'Linting skipped: shared eslint not configured yet'"
  ]
}

feat(web): add universal page export (PDF, CSV, Markdown, Text)
  TODO.md
  package-lock.json
  web/README.md
  web/package.json
  web/src/components/export-menu.js
  web/src/components/header.js
  web/src/components/templates/header.html
  web/src/utils/export-context.js
  web/src/utils/export.js
  web/src/utils/icons.js
  web/src/utils/markdown-content.js
  web/src/views/about.js
  web/src/views/browse.js
  web/src/views/categories.js
  web/src/views/category-detail.js
  web/src/views/contact.js
  web/src/views/favorites.js
  web/src/views/home.js
  web/src/views/law-detail.js
  web/src/views/origin-story.js
  web/src/views/privacy.js
  web/src/views/terms.js
  web/styles/partials/components.css
  web/tests/export-context.test.js
  web/tests/export-menu.test.js
  web/tests/export.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

Integrate Sentry error tracking and replace console.error/warn with Sentry
  .env.example
  .github/workflows/deploy.yml
  TODO.md
  backend/README.md
  backend/package.json
  backend/scripts/api-server.mjs
  backend/src/routes/router.mjs
  package-lock.json
  shared/docs/DEPLOYMENT.md
  web/README.md
  web/package.json
  web/src/components/search-autocomplete.js
  web/src/main.js
  web/src/router.js
  web/src/utils/ads.js
  web/src/utils/api.js
  web/src/utils/error-handler.js
  web/src/utils/export.js
  web/src/views/categories.js
  web/src/views/category-detail.js
  web/tests/ads.test.js
  web/tests/advanced-search.test.js
  web/tests/api.test.js
  web/tests/categories.test.js
  web/tests/category-detail.test.js
  web/tests/error-handler.test.js
  web/tests/export-menu.test.js
  web/tests/export.test.js
  web/tests/feature-flags.test.js
  web/tests/law-detail.test.js
  web/tests/lazy-loader.test.js
  web/tests/request.test.js
  web/tests/router.test.js
  web/tests/search-autocomplete.test.js
  web/tests/submit-law.test.js
  web/vite.config.js
Due: cd web && eslint --fix, cd backend && eslint --fix

Mark Error Tracking as complete in TODO.md
  TODO.md
Due: none

Mark Per-Law Open Graph Images as complete in TODO.md
  TODO.md
Due: none

fix(web): prevent navigation when clicking buttons inside law cards
  web/src/main.js
  web/src/views/browse.js
  web/src/views/category-detail.js
  web/src/views/home.js
  web/src/views/law-detail.js
  web/tests/browse.test.js
  web/tests/category-detail.test.js
  web/tests/home.test.js
  web/tests/law-detail.test.js
Due: cd web && eslint --fix

refactor(web): rename Export to Download in export menu
  web/src/components/export-menu.js
  web/src/utils/icons.js
  web/tests/export-menu.test.js
Due: cd web && eslint --fix

feat(web): add PWA support with offline caching and install prompt
  README.md
  TODO.md
  package-lock.json
  web/README.md
  web/e2e/pwa.spec.ts
  web/index.html
  web/package.json
  web/public/offline.html
  web/public/site.webmanifest
  web/src/components/install-prompt.js
  web/src/components/update-notification.js
  web/src/main.js
  web/tests/install-prompt.test.js
  web/tests/update-notification.test.js
  web/vite.config.js
Due: cd web && eslint --fix, cd web && npx html-validate

feat(web): improve SEO with structured data fixes and FAQ schema
  TODO.md
  package-lock.json
  web/package.json
  web/public/sitemap.xml
  web/src/modules/structured-data.js
  web/src/utils/dom.js
  web/src/views/about.js
  web/src/views/buttered-toast-calculator.js
  web/src/views/categories.js
  web/src/views/category-detail.js
  web/src/views/home.js
  web/src/views/origin-story.js
  web/src/views/sods-calculator.js
  web/tests/dom.test.js
  web/tests/structured-data.test.js
Due: cd web && eslint --fix

fix(web): align structured data URLs with sitemap for SEO consistency
  web/src/modules/structured-data.js
  web/tests/structured-data.test.js
Due: cd web && eslint --fix

feat(web): comprehensive SEO improvements and voice search support
  shared/content/examples.md
  shared/content/origin-story.md
  web/index.html
  web/package.json
  web/public/robots.txt
  web/public/social/buttered-toast-calculator.png
  web/public/social/sods-calculator.png
  web/scripts/ssg.mjs
  web/src/components/breadcrumb.js
  web/src/components/templates/breadcrumb.html
  web/src/components/templates/footer.html
  web/src/components/templates/header.html
  web/src/main.js
  web/src/modules/structured-data.js
  web/src/utils/markdown-content.js
  web/src/utils/seo.js
  web/src/views/browse.js
  web/src/views/categories.js
  web/src/views/category-detail.js
  web/src/views/examples.js
  web/src/views/law-detail.js
  web/src/views/templates/browse.html
  web/src/views/templates/buttered-toast-calculator.html
  web/src/views/templates/categories.html
  web/src/views/templates/category-detail.html
  web/src/views/templates/law-detail.html
  web/src/views/templates/sods-calculator.html
  web/styles/partials/components.css
  web/tests/browse.test.js
  web/tests/categories.test.js
  web/tests/seo.test.js
  web/tests/structured-data.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

feat(web): add Advanced Search and sort controls to category page
  web/package.json
  web/src/modules/structured-data.js
  web/src/views/category-detail.js
  web/src/views/templates/category-detail.html
  web/tests/category-detail.test.js
  web/tests/structured-data.test.js
Due: cd web && eslint --fix, cd web && npx html-validate

feat(web): add Examples link to footer navigation
  package.json
  web/src/components/templates/footer.html
Due: cd web && npx html-validate

chore(web): bump web version to 2.4.1
  web/package.json
Due: none

chore: add versioning project rule
  .cursor/rules/versioning.md
Due: none

test(web): add branch coverage tests
  web/tests/branch-coverage.test.js
  web/tests/examples.test.js
  web/tests/footer-coverage.test.js
  web/tests/markdown-content.test.js
  web/tests/sods-calculator.test.js
Due: cd web && eslint --fix

chore: bump versions to 1.0.2 / 2.4.2
  package-lock.json
  package.json
  web/package.json
Due: none

fix(web): restore sticky header positioning
  web/index.html
  web/styles/partials/base.css
Due: cd web && stylelint --fix, cd web && npx html-validate

fix(web): add dark mode support to PWA install prompt
  web/src/components/install-prompt.js
Due: cd web && eslint --fix

fix(web): improve install prompt secondary button hover contrast
  web/src/components/install-prompt.js
Due: cd web && eslint --fix

refactor(web): redesign calculator share buttons to match share popover style
  web/src/views/templates/buttered-toast-calculator.html
  web/src/views/templates/sods-calculator.html
  web/styles/partials/sections.css
Due: cd web && stylelint --fix, cd web && npx html-validate

refactor(web): remove unused social option from createButton
  web/src/utils/button.js
  web/tests/button.test.js
Due: cd web && eslint --fix

chore: bump versions to 1.0.3 / 2.4.3
  package.json
  web/package.json
Due: none

fix(web): only highlight first word in category page titles
  web/src/views/category-detail.js
  web/tests/category-detail.test.js
Due: cd web && eslint --fix

refactor(web): standardize card structure with header/body/footer
  web/package.json
  web/scripts/check-coverage.mjs
  web/scripts/ssg.mjs
  web/src/components/law-list-section.js
  web/src/components/trending.js
  web/src/utils/markdown-content.js
  web/src/views/favorites.js
  web/src/views/templates/about.html
  web/src/views/templates/browse.html
  web/src/views/templates/buttered-toast-calculator.html
  web/src/views/templates/category-detail.html
  web/src/views/templates/contact.html
  web/src/views/templates/law-detail.html
  web/src/views/templates/not-found.html
  web/src/views/templates/privacy.html
  web/src/views/templates/sods-calculator.html
  web/src/views/templates/terms.html
  web/styles/partials/calculator.css
  web/styles/partials/components.css
  web/styles/partials/print.css
  web/styles/partials/sections.css
  web/styles/partials/theme.css
  web/tests/law-components.test.js
  web/tests/law-list-section.test.js
  web/tests/markdown-content.test.js
  web/tests/recently-added.test.js
  web/tests/ssg.test.js
  web/tests/top-voted.test.js
  web/tests/trending.test.js
  web/vite.config.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

fix(web): standardize form control heights to match buttons
  package.json
  web/package.json
  web/styles/partials/components.css
  web/styles/partials/layout.css
  web/styles/partials/sections.css
Due: cd web && stylelint --fix

feat(web): unify calculator sharing with law sharing options
  shared/docs/API_ENDPOINTS.md
  web/package.json
  web/src/modules/calculator-share.js
  web/src/modules/sods-share.js
  web/src/views/buttered-toast-calculator.js
  web/src/views/sods-calculator.js
  web/src/views/templates/buttered-toast-calculator.html
  web/src/views/templates/sods-calculator.html
  web/tests/buttered-toast-calculator.test.js
  web/tests/calculator-share.test.js
  web/tests/sods-calculator-coverage.test.js
  web/tests/sods-calculator.test.js
  web/tests/sods-share-coverage.test.js
  web/tests/sods-share.test.js
Due: cd web && eslint --fix, cd web && npx html-validate

fix(web): stop event propagation for all popover clicks
  web/src/modules/calculator-share.js
Due: cd web && eslint --fix

refactor(web): move Origin Story and Examples links to header dropdown
  web/package.json
  web/src/components/templates/footer.html
  web/src/components/templates/header.html
  web/tests/header.test.js
Due: cd web && eslint --fix, cd web && npx html-validate

fix(web): show empty state after unfavoriting last law in favorites
  web/src/views/favorites.js
  web/tests/favorites-view.test.js
Due: cd web && eslint --fix

fix(web): improve slider value contrast in dark mode for WCAG AA
  web/styles/partials/theme.css
Due: cd web && stylelint --fix

feat(web): add favorite button to Law of the Day widget
  web/package.json
  web/src/components/law-of-day.js
  web/src/components/templates/law-of-day.html
  web/tests/law-of-day.test.js
Due: cd web && eslint --fix, cd web && npx html-validate

fix(web): handle SVG clicks and prevent global handler interference on favorites page
  web/src/main.js
  web/src/views/favorites.js
  web/tests/favorites-view.test.js
Due: cd web && eslint --fix

fix(web): show filled heart icon on page load for favorited laws
  web/src/components/law-of-day.js
  web/tests/law-of-day.test.js
Due: cd web && eslint --fix

test(web): improve branch coverage to 95.93%
  shared/content/contact.md
  web/src/views/templates/contact.html
  web/tests/advanced-search.test.js
  web/tests/contact.test.js
  web/tests/export.test.js
  web/tests/favorites-view.test.js
  web/tests/search-autocomplete.test.js
  web/tests/social-share.test.js
  web/tests/submit-law.test.js
Due: cd web && eslint --fix, cd web && npx html-validate

fix(web): adjust thumb icon viewBox and clean up CSS whitespace
  web/src/utils/icons.js
  web/styles/partials/sections.css
Due: cd web && eslint --fix, cd web && stylelint --fix

1.0.5
  package-lock.json
  package.json
Due: none

feat(tooling): add emoji and em-dash rules to markdown linter
  .markdownlint-cli2.mjs
  .markdownlint.jsonc
  ios/MurphysLaws.xcodeproj/FINAL_SOLUTION.md
  ios/MurphysLaws.xcodeproj/FIX_MENU.sh
  ios/MurphysLaws.xcodeproj/FIX_UI_TESTS_INSTRUCTIONS.md
  ios/MurphysLaws.xcodeproj/INFO_PLIST_FIX.md
  ios/MurphysLaws.xcodeproj/INFO_PLIST_VISUAL_GUIDE.md
  ios/MurphysLaws.xcodeproj/READ_ME_FIRST.md
  ios/MurphysLaws.xcodeproj/SOLUTION_SUMMARY.md
  ios/MurphysLaws.xcodeproj/START_HERE.txt
  ios/MurphysLaws.xcodeproj/TESTING_FIX.md
  ios/MurphysLaws.xcodeproj/TEST_TARGET_VERIFICATION.md
  ios/MurphysLaws.xcodeproj/VOTE_SYNC_COMPILATION_FIX.md
  ios/MurphysLaws.xcodeproj/VOTE_SYNC_FINAL_FIX.md
  ios/MurphysLaws.xcodeproj/VOTE_SYNC_NOTIFICATION_FIX.md
  ios/MurphysLaws/Repositories/CHECKLIST.md
  ios/MurphysLaws/Repositories/CODE_SIGNING_FIX.md
  ios/MurphysLaws/Repositories/CONFIGURATION_SUMMARY.md
  ios/MurphysLaws/Repositories/CONFIG_README.md
  ios/MurphysLaws/Repositories/QUICK_START.md
  ios/MurphysLaws/ViewModels/API_RESPONSE_MISMATCH_FIX.md
  ios/MurphysLaws/ViewModels/EMPTY_SHEET_FIX.md
  ios/MurphysLaws/ViewModels/VOTING_FIX.md
  ios/MurphysLaws/ViewModels/WRONG_LAW_FIX.md
  ios/MurphysLawsUITests/CHANGES_SUMMARY.md
  ios/MurphysLawsUITests/FILTER_UX_IMPROVEMENT.md
  ios/MurphysLawsUITests/LATEST_SESSION_TEST_SUMMARY.md
  ios/MurphysLawsUITests/TEST_COVERAGE_SUMMARY.md
  ios/MurphysLawsUITests/TEST_FIXES_SUMMARY.md
  ios/MurphysLawsUITests/VOTE_SYNC_BUG_FIX.md
  ios/fix_contentpage.sh
  ios/remove_markdown_tests_from_ui.py
  package-lock.json
  package.json
  shared/data/murphys-laws/murphys-computers-laws.md
  shared/docs/DEPLOYMENT.md
  shared/docs/MOBILE-REPOSITORY-STRUCTURE.md
  web/package.json
Due: none

1.0.6
  package-lock.json
  package.json
Due: none

chore(docs): remove emojis and improve markdown linter
  .markdownlint-cli2.mjs
  ios/MurphysLaws.xcodeproj/FINAL_SOLUTION.md
  ios/MurphysLaws.xcodeproj/INFO_PLIST_VISUAL_GUIDE.md
  ios/MurphysLaws.xcodeproj/READ_ME_FIRST.md
  ios/MurphysLaws.xcodeproj/SOLUTION_SUMMARY.md
  ios/MurphysLaws.xcodeproj/TESTING_FIX.md
  ios/MurphysLaws.xcodeproj/VOTE_SYNC_COMPILATION_FIX.md
  ios/MurphysLaws/Repositories/CODE_SIGNING_FIX.md
  ios/MurphysLaws/Repositories/CONFIGURATION_SUMMARY.md
  ios/MurphysLaws/Repositories/QUICK_START.md
  ios/MurphysLaws/ViewModels/EMPTY_SHEET_FIX.md
  ios/MurphysLaws/ViewModels/VOTING_FIX.md
  ios/MurphysLaws/ViewModels/WRONG_LAW_FIX.md
  ios/MurphysLawsUITests/CHANGES_SUMMARY.md
  ios/MurphysLawsUITests/LATEST_SESSION_TEST_SUMMARY.md
  ios/MurphysLawsUITests/TEST_FIXES_SUMMARY.md
  ios/MurphysLawsUITests/VOTE_SYNC_BUG_FIX.md
  package-lock.json
  shared/docs/MIGRATION-GUIDE.md
  shared/docs/MOBILE-IOS-PRD.md
  web/package.json
Due: none
