Repository ravidorr/murphys-laws: changes, and which lint-staged commands are due for each by the changed paths.
All: cd web && eslint --fix, cd web && stylelint --fix, cd backend && eslint --fix || echo 'Linting skipped: backend eslint not configured yet', eslint --fix || echo 'Linting skipped: shared eslint not configured yet'

.lintstagedrc.json:

{
  "web/**/*.{js,mjs}": [
    "cd web && eslint --fix"
  ],
  "web/styles/**/*.css": [
    "cd web && stylelint --fix"
  ],
  "backend/**/*.{js,mjs}": [
    "cd backend && eslint --fix || echo 'Linting skipped: backend eslint not configured yet'"
  ],
  "shared/**/*.{js,mjs}": [
    "eslint --fix || echo 'Linting skipped: shared eslint not configured yet'"
  ]
}

fix: add shared/package.json and remove redundant update message
  backend/scripts/daily-report.sh
  shared/package.json
Due: none

docs: add system updates and native module rebuild instructions
  shared/docs/DEPLOYMENT.md
Due: none

feat(android): Implement Sod's Law Calculator and improve error handling
  android/app/src/main/java/com/murphyslaws/di/NetworkModule.kt
  android/app/src/main/java/com/murphyslaws/domain/model/RiskLevel.kt
  android/app/src/main/java/com/murphyslaws/presentation/browse/BrowseViewModel.kt
  android/app/src/main/java/com/murphyslaws/presentation/calculators/CalculatorViewModel.kt
  android/app/src/main/java/com/murphyslaws/presentation/calculators/CalculatorsScreen.kt
  android/app/src/main/java/com/murphyslaws/presentation/calculators/ParameterSlider.kt
  android/app/src/main/java/com/murphyslaws/presentation/home/HomeViewModel.kt
  android/app/src/main/java/com/murphyslaws/presentation/search/SearchViewModel.kt
  android/app/src/main/java/com/murphyslaws/util/ErrorMessageMapper.kt
  android/app/src/test/java/com/murphyslaws/domain/model/RiskLevelTest.kt
  android/app/src/test/java/com/murphyslaws/presentation/browse/BrowseViewModelTest.kt
  android/app/src/test/java/com/murphyslaws/presentation/calculators/CalculatorViewModelTest.kt
  android/app/src/test/java/com/murphyslaws/presentation/home/HomeViewModelTest.kt
  android/app/src/test/java/com/murphyslaws/presentation/search/SearchViewModelTest.kt
  android/app/src/test/java/com/murphyslaws/util/ErrorMessageMapperTest.kt
Due: none

fix: prevent 502 errors from Node.js version mismatches
  .github/workflows/deploy.yml
  README.md
  backend/ecosystem.config.cjs
  backend/package.json
  backend/scripts/cleanup-ports.mjs
  backend/scripts/deploy.mjs
  backend/scripts/validate-node-version.mjs
  package.json
  shared/docs/DEPLOYMENT.md
  shared/docs/PREVENTING-502-ERRORS.md
Due: cd backend && eslint --fix || echo 'Linting skipped: backend eslint not configured yet'

feat: add post-deployment Node.js validation
  backend/scripts/deploy.mjs
Due: cd backend && eslint --fix || echo 'Linting skipped: backend eslint not configured yet'

feat: serve static frontend files with cache control instead of proxying
  nginx.conf
Due: none

refactor: serve frontend static files directly via Nginx
  backend/ecosystem.config.cjs
  nginx.conf
Due: none

docs: update deployment docs to reflect Nginx static serving architecture
  .github/workflows/deploy.yml
  backend/scripts/deploy.mjs
  shared/docs/DEPLOYMENT.md
Due: cd backend && eslint --fix || echo 'Linting skipped: backend eslint not configured yet'

feat: add custom 404 error page
  nginx.conf
  web/public/404.html
Due: none

feat(deploy): automatically update nginx config during deployment
  backend/scripts/deploy.mjs
Due: cd backend && eslint --fix || echo 'Linting skipped: backend eslint not configured yet'

fix(deploy): remove redundant npm rebuild causing race condition
  .github/workflows/deploy.yml
Due: none

feat: add favicon links to the 404 page.
  web/public/404.html
Due: none

feat: Add backend ESLint configuration and web HTML validation.
  .lintstagedrc.json
  backend/eslint.config.js
  backend/package.json
  package-lock.json
  web/.htmlvalidate.json
  web/package.json
  web/scripts/check-coverage.mjs
  web/tests/footer.test.js
  web/tests/markdown-content.test.js
Due: cd web && eslint --fix, cd backend && eslint --fix || echo 'Linting skipped: backend eslint not configured yet'

refactor: Remove unused imports and variables, and export markdownToHtml utility.
  backend/scripts/check-coverage.mjs
  backend/scripts/cleanup-ports.mjs
  backend/scripts/validate-node-version.mjs
  backend/src/controllers/categories.controller.mjs
  backend/src/services/database.service.mjs
  backend/src/services/laws.service.mjs
  backend/tests/services/laws.service.test.js
  web/src/utils/markdown-content.js
  web/tests/browse.test.js
  web/tests/category-cache.test.js
  web/tests/constants.test.js
  web/tests/footer.test.js
  web/tests/law-detail.test.js
Due: cd web && eslint --fix, cd backend && eslint --fix || echo 'Linting skipped: backend eslint not configured yet'

Add preview text to Daily Status Report emails
  backend/scripts/daily-report.sh
Due: none

feat: Implement deferred AdSense loading to prevent 'No Content' violations by dynamically injecting the script and removing it from index.html.
  shared/docs/DEPLOYMENT.md
  web/README.md
  web/index.html
  web/src/main.js
  web/src/utils/ads.js
  web/tests/ads.test.js
Due: cd web && eslint --fix

chore: Update lint-staged commands to explicitly reference configuration files and remove `cd` prefixes.
  .lintstagedrc.json
  web/src/utils/ads.js
  web/tests/ads.test.js
Due: cd web && eslint --fix

fix(web): Implement event-driven AdSense initialization to prevent 'No Content' policy violations
  backend/scripts/cost-optimization-report.sh
  backend/scripts/daily-report.sh
  backend/scripts/test-backup-restore.sh
  web/src/main.js
  web/src/utils/ads.js
  web/src/views/about.js
  web/src/views/browse.js
  web/src/views/buttered-toast-calculator.js
  web/src/views/contact.js
  web/src/views/home.js
  web/src/views/law-detail.js
  web/src/views/privacy.js
  web/src/views/sods-calculator.js
  web/src/views/terms.js
  web/tests/ads.test.js
Due: cd web && eslint --fix

feat: Enhance Murphy's Laws project with new categories and origin story features
  .lintstagedrc.json
  TODO.md
  backend/db/migrations/010_add_law_status_column.sql
  web/eslint.config.js
  web/eslint.config.test.js
  web/index.html
  web/src/components/advanced-search.js
  web/src/components/header.js
  web/src/components/templates/buttered-toast-calculator-simple.html
  web/src/components/templates/footer.html
  web/src/components/templates/law-of-day.html
  web/src/components/templates/sod-calculator-simple.html
  web/src/main.js
  web/src/modules/structured-data.js
  web/src/utils/api.js
  web/src/views/categories.js
  web/src/views/category-detail.js
  web/src/views/home.js
  web/src/views/origin-story.js
  web/src/views/templates/categories.html
  web/src/views/templates/category-detail.html
  web/src/views/templates/origin-story.html
  web/tests/categories.test.js
  web/tests/category-detail.test.js
  web/tests/header.test.js
  web/tests/origin-story.test.js
  web/tests/structured-data.test.js
Due: cd web && eslint --fix

chore: Update backend CI workflow to enhance git configuration and disable husky hooks
  .github/workflows/backend-ci.yml
Due: none

chore: Simplify backend CI workflow by adjusting git fetch depth and environment variables
  .github/workflows/backend-ci.yml
Due: none

chore: Clean up backend CI workflow and remove obsolete migration file
  .github/workflows/backend-ci.yml
  backend/db/migrations/010_add_law_status_column.sql
Due: none

feat: Add origin story content and update related components
  shared/content/metadata.json
  shared/content/origin-story.md
  web/src/utils/markdown-content.js
  web/src/views/origin-story.js
  web/src/views/templates/origin-story.html
  web/tests/origin-story.test.js
Due: cd web && eslint --fix

test: Enhance component tests for categories, category detail, and law rendering
  web/tests/categories.test.js
  web/tests/category-detail.test.js
  web/tests/header.test.js
  web/tests/law-card-renderer.test.js
  web/tests/law-detail.test.js
  web/tests/law-of-day.test.js
  web/tests/origin-story.test.js
  web/tests/router.test.js
  web/tests/sods-share.test.js
Due: cd web && eslint --fix

test: Enhance unit tests for AdSense integration and error handling
  web/tests/ads.test.js
  web/tests/advanced-search.test.js
  web/tests/constants.test.js
  web/tests/footer.test.js
  web/tests/markdown-content.test.js
  web/tests/mathjax.test.js
  web/tests/request.test.js
  web/tests/sod-calculator-simple.test.js
  web/tests/third-party.test.js
Due: cd web && eslint --fix

fix: Update route parsing to support hyphenated names and enhance markdown content handling
  web/src/router.js
  web/src/utils/markdown-content.js
  web/tests/markdown-content.test.js
  web/tests/router.test.js
Due: cd web && eslint --fix

feat: Integrate Pendo Mobile SDK for analytics and in-app guides
  android/app/build.gradle.kts
  android/app/proguard-rules.pro
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/murphyslaws/MainActivity.kt
  android/app/src/main/java/com/murphyslaws/MurphysLawsApp.kt
  android/app/src/main/java/com/murphyslaws/presentation/MainApp.kt
  android/app/src/test/java/com/murphyslaws/presentation/search/SearchViewModelTest.kt
  android/settings.gradle.kts
Due: none

fix: Correct ProGuard rule for protobuf GeneratedMessageLite class
  android/app/proguard-rules.pro
Due: none

refactor: Reorder composable parameters to follow Compose conventions
  android/app/src/main/java/com/murphyslaws/util/MarkdownParser.kt
Due: none

refactor: Improve ContentLoader code quality and suppress warnings
  android/app/src/main/java/com/murphyslaws/util/ContentLoader.kt
Due: none

fix: Update tools:targetApi to match enableOnBackInvokedCallback requirement
  android/app/src/main/AndroidManifest.xml
Due: none

fix: Explicitly specify Locale.US for String.format to avoid locale bugs
  android/app/src/main/java/com/murphyslaws/presentation/calculators/CalculatorViewModel.kt
Due: none

chore: Update dependencies and modernize Android code
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/murphyslaws/presentation/more/MoreScreen.kt
  android/app/src/main/java/com/murphyslaws/util/MarkdownParser.kt
  android/app/src/main/java/com/murphyslaws/util/SocialShareHelper.kt
  android/app/src/main/java/com/murphyslaws/util/VoteManager.kt
  android/build.gradle.kts
  android/gradle/wrapper/gradle-wrapper.properties
Due: none

fix: Update KSP version to 2.2.21-2.0.4 for Kotlin 2.2.21 compatibility
  android/build.gradle.kts
Due: none

feat: Add Compose Compiler plugin for Kotlin 2.0+ compatibility
  android/app/build.gradle.kts
  android/build.gradle.kts
Due: none

fix: Remove invalid ProGuard rule for non-existent protobuf class
  android/app/proguard-rules.pro
Due: none

fix: Add separate isLoadingMore state for search pagination
  android/app/src/main/java/com/murphyslaws/presentation/search/SearchScreen.kt
  android/app/src/main/java/com/murphyslaws/presentation/search/SearchViewModel.kt
Due: none

test: Add tests for isLoadingMore state in SearchViewModel
  android/app/src/test/java/com/murphyslaws/presentation/search/SearchViewModelTest.kt
Due: none

refactor: Improve code quality with explicit imports and annotation fixes
  android/app/build.gradle.kts
  android/app/src/androidTest/java/com/murphyslaws/presentation/home/HomeScreenTest.kt
  android/app/src/main/java/com/murphyslaws/MainActivity.kt
  android/app/src/main/java/com/murphyslaws/data/remote/dto/Dtos.kt
  android/app/src/main/java/com/murphyslaws/presentation/calculators/CalculatorsScreen.kt
  android/app/src/main/java/com/murphyslaws/presentation/home/HomeScreen.kt
  android/app/src/main/java/com/murphyslaws/presentation/more/MoreScreen.kt
  android/app/src/main/java/com/murphyslaws/presentation/submit/SubmitLawScreen.kt
  android/app/src/main/java/com/murphyslaws/util/MarkdownParser.kt
  android/app/src/main/java/com/murphyslaws/util/SocialShareHelper.kt
  android/app/src/test/java/com/murphyslaws/presentation/home/HomeViewModelTest.kt
Due: none

fix: Add POST_NOTIFICATIONS permission for Android 13+ compatibility
  android/app/src/main/AndroidManifest.xml
Due: none
