Repository ravidorr/murphys-laws: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config web/eslint.config.test.ts --fix, stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, eslint --config backend/eslint.config.ts --fix, eslint --fix || echo 'Linting skipped: shared eslint not configured yet', markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "web/**/!(*.test).{js,mjs,ts}": [
    "eslint --config web/eslint.config.ts --fix"
  ],
  "web/**/*.test.{js,ts}": [
    "eslint --config web/eslint.config.test.ts --fix"
  ],
  "web/styles/**/*.css": [
    "stylelint --config web/.stylelintrc.json --fix"
  ],
  "web/**/*.html": [
    "npx html-validate --config web/.htmlvalidate.json"
  ],
  "backend/**/*.{js,mjs}": [
    "eslint --config backend/eslint.config.ts --fix"
  ],
  "shared/**/*.{js,mjs}": [
    "eslint --fix || echo 'Linting skipped: shared eslint not configured yet'"
  ],
  "**/*.md": [
    "markdownlint-cli2 --fix"
  ]
}

chore: trigger Android CI on main
  .github/workflows/android-ci.yml
Due: none

Revert "chore: trigger Android CI on main"
  .github/workflows/android-ci.yml
Due: none

fix(ci): update Android SDK setup action
  .github/workflows/android-ci.yml
Due: none

fix(ci): avoid retired Android SDK tools package
  .github/workflows/android-ci.yml
Due: none

chore: add Novus by Pendo web snippet; bump to 2.6.13 / 3.4.11
  CHANGELOG.md
  package-lock.json
  package.json
  web/index.html
  web/package.json
  web/src/main.ts
  web/src/types/global.d.ts
Due: npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

Limit Novus agent loading and initialization to the canonical production host
  CHANGELOG.md
  web/index.html
  web/src/main.ts
Due: npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

docs: disclose Pendo analytics data practices
  shared/content/privacy.md
  web/tests/privacy.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

Add regression test for canonical-host gating of the Novus agent snippet
  web/tests/novus-snippet.test.ts
Due: eslint --config web/eslint.config.test.ts --fix

Extract Novus agent bootstrap into a testable module and cover its host guard
  web/src/main.ts
  web/src/utils/novus-agent.ts
  web/tests/novus-agent.test.ts
Due: eslint --config web/eslint.config.test.ts --fix

Strip free-text query parameters from URLs recorded by the Novus agent
  CHANGELOG.md
  web/src/utils/novus-agent.ts
  web/tests/novus-agent.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix(web): queue all typed Pendo methods
  web/index.html
  web/src/types/global.d.ts
  web/tests/novus-snippet.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, npx html-validate --config web/.htmlvalidate.json

fix(web): protect Pendo tracking data
  web/src/components/install-prompt.ts
  web/src/components/search-autocomplete.ts
  web/src/components/sod-calculator-simple.ts
  web/src/components/submit-law.ts
  web/src/utils/pendo.ts
  web/src/utils/voting.ts
  web/src/views/browse.ts
  web/src/views/categories.ts
  web/src/views/category-detail.ts
  web/tests/browse.test.ts
  web/tests/categories.test.ts
  web/tests/category-detail.test.ts
  web/tests/install-prompt.test.ts
  web/tests/pendo.test.ts
  web/tests/search-autocomplete.test.ts
  web/tests/sod-calculator-simple.test.ts
  web/tests/submit-law.test.ts
  web/tests/voting.test.ts
Due: eslint --config web/eslint.config.test.ts --fix

fix(web): clear stale Pendo search state
  web/src/views/browse.ts
  web/src/views/category-detail.ts
  web/src/views/home.ts
  web/tests/browse.test.ts
  web/tests/category-detail.test.ts
  web/tests/home.test.ts
Due: eslint --config web/eslint.config.test.ts --fix

fix(web): track successful search retries
  web/src/views/browse.ts
  web/src/views/category-detail.ts
  web/tests/browse.test.ts
  web/tests/category-detail.test.ts
Due: eslint --config web/eslint.config.test.ts --fix

fix(web): prevent sort reloads from tracking searches
  web/src/views/browse.ts
  web/src/views/category-detail.ts
  web/tests/browse.test.ts
  web/tests/category-detail.test.ts
Due: eslint --config web/eslint.config.test.ts --fix

chore: bump versions for search tracking fix
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
Due: markdownlint-cli2 --fix

chore: refresh completed TODO items
  CHANGELOG.md
  TODO.md
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

fix: install pinned Node during deploy
  .github/workflows/deploy.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

fix: provision PM2 for deployed Node runtime
  .github/workflows/deploy.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

fix: make production dependencies reproducible
  .github/workflows/deploy.yml
  .gitignore
  CHANGELOG.md
  backend/package-lock.json
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

test: validate deployed backend dependencies
  .github/workflows/backend-ci.yml
Due: none

fix: synchronize the PM2 daemon before deploy
  .github/workflows/deploy.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

fix: update PM2 after stopping the API
  .github/workflows/deploy.yml
Due: none

fix: let the offline-ready toast hide itself after 5 seconds
  CHANGELOG.md
  web/e2e/pwa.spec.ts
  web/src/components/install-prompt.ts
  web/src/components/update-notification.ts
  web/styles/partials/update-notification.css
  web/tests/install-prompt.test.ts
  web/tests/update-notification.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, stylelint --config web/.stylelintrc.json --fix, markdownlint-cli2 --fix

fix: address PWA notification review findings
  CHANGELOG.md
  mcp/package.json
  package-lock.json
  package.json
  web/e2e/pwa.spec.ts
  web/package.json
  web/tests/update-notification.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix: enable git commit hooks
  .husky/commit-msg
  .husky/pre-commit
  CHANGELOG.md
  package-lock.json
  package.json
  shared/modules/duplicate-similarity.test.ts
  web/src/components/law-of-day.ts
  web/tests/footer-coverage.test.ts
  web/tests/law-of-day.test.ts
  web/tsconfig.json
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix: enable git commit hooks
  .husky/commit-msg
  .husky/pre-commit
  CHANGELOG.md
  package-lock.json
  package.json
  shared/modules/duplicate-similarity.test.ts
  web/e2e/accessibility.spec.ts
  web/e2e/navigation.spec.ts
  web/e2e/pwa.spec.ts
  web/e2e/qa-regressions.spec.ts
  web/e2e/tsconfig.json
  web/package.json
  web/src/components/update-notification.ts
  web/tests/footer-coverage.test.ts
  web/tests/law-of-day.test.ts
  web/tsconfig.json
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

docs: document write endpoints in OpenAPI
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  backend/src/openapi.ts
  backend/tests/openapi.test.ts
  package-lock.json
  package.json
  shared/docs/API_ENDPOINTS.md
Due: markdownlint-cli2 --fix

docs: cover all public API operations
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  backend/src/openapi.ts
  backend/tests/openapi.test.ts
  package-lock.json
  package.json
  shared/docs/API_ENDPOINTS.md
Due: markdownlint-cli2 --fix

fix: enforce OpenAPI route coverage
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  backend/src/routes/router.ts
  backend/src/server/api-server.ts
  backend/tests/router.test.ts
  backend/tests/server/api-server.test.ts
  ios/MurphysLaws.xcodeproj/project.pbxproj
  ios/MurphysLaws/Info.plist
  ios/project.yml
  package-lock.json
  package.json
  shared/content/developers.md
  shared/docs/API.md
  web/package.json
Due: markdownlint-cli2 --fix

chore: bump Android version
  CHANGELOG.md
  android/app/build.gradle.kts
Due: markdownlint-cli2 --fix

test: cover OpenAPI route contract
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  backend/tests/router.test.ts
  backend/tests/server/api-server.test.ts
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

test: stabilize offline notification E2E
  CHANGELOG.md
  package-lock.json
  package.json
  web/e2e/pwa.spec.ts
  web/package.json
Due: markdownlint-cli2 --fix

chore: enforce coverage guardrails across platforms
  .github/workflows/android-ci.yml
  .github/workflows/backend-ci.yml
  .github/workflows/cli-ci.yml
  .github/workflows/ios-ci.yml
  .github/workflows/mcp-ci.yml
  .github/workflows/sdk-ci.yml
  .github/workflows/web-ci.yml
  .husky/pre-commit
  android/app/build.gradle.kts
  cli/package.json
  cli/vitest.config.ts
  ios/MurphysLaws.xcodeproj/xcshareddata/xctestplans/MurphysLaws.xctestplan
  ios/MurphysLaws/Info.plist
  ios/project.yml
  ios/scripts/check-coverage.test.ts
  ios/scripts/check-coverage.ts
  ios/scripts/test-coverage.sh
  mcp/package.json
  mcp/vitest.config.ts
  package-lock.json
  package.json
  scripts/run-coverage-guards.test.ts
  scripts/run-coverage-guards.ts
  sdk/package.json
  sdk/vitest.config.ts
Due: none

docs: document coverage guardrails
  CHANGELOG.md
Due: markdownlint-cli2 --fix

fix: fail closed when selective CI detection fails
  .github/workflows/android-ci.yml
  .github/workflows/backend-ci.yml
  .github/workflows/cli-ci.yml
  .github/workflows/ios-ci.yml
  .github/workflows/mcp-ci.yml
  .github/workflows/sdk-ci.yml
  .github/workflows/web-ci.yml
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/ci-gate-contract.test.ts
  scripts/run-coverage-guards.test.ts
  scripts/run-coverage-guards.ts
  shared/design-tokens/design-conformance.test.ts
  shared/design-tokens/design-conformance.ts
Due: markdownlint-cli2 --fix

fix: give required CI gates unique check names
  .github/workflows/android-ci.yml
  .github/workflows/backend-ci.yml
  .github/workflows/cli-ci.yml
  .github/workflows/ios-ci.yml
  .github/workflows/mcp-ci.yml
  .github/workflows/sdk-ci.yml
  .github/workflows/web-ci.yml
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/ci-gate-contract.test.ts
  scripts/run-coverage-guards.test.ts
Due: markdownlint-cli2 --fix

fix: decode escaped Android SDK paths
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/run-coverage-guards.test.ts
  scripts/run-coverage-guards.ts
Due: markdownlint-cli2 --fix
