Repository ravidorr/murphys-laws: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config web/eslint.config.test.js --fix, stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, eslint --config backend/eslint.config.js --fix, eslint --fix || echo 'Linting skipped: shared eslint not configured yet', markdownlint-cli2 --fix

1.0.7
  package-lock.json
  package.json
Due: none

fix(ci): update iOS simulator to iPhone 16 for Xcode 16.4
  .github/workflows/ios-ci.yml
Due: none

feat(web): add inline share buttons for calculators
  package-lock.json
  shared/docs/API_ENDPOINTS.md
  web/README.md
  web/package.json
  web/src/components/social-share.js
  web/src/modules/calculator-share.js
  web/src/views/buttered-toast-calculator.js
  web/src/views/sods-calculator.js
  web/src/views/templates/buttered-toast-calculator.html
  web/src/views/templates/sods-calculator.html
  web/styles/partials/calculator.css
  web/styles/partials/components.css
  web/styles/partials/notification.css
  web/tests/buttered-toast-calculator.test.js
  web/tests/calculator-share.test.js
  web/tests/social-share.test.js
  web/tests/sods-calculator-coverage.test.js
  web/tests/sods-calculator.test.js
Due: eslint --config web/eslint.config.test.js --fix, stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

feat(web): add design system tokens and accessibility improvements
  .husky/pre-commit
  CHANGELOG.md
  TODO.md
  package.json
  web/README.md
  web/package.json
  web/src/components/submit-law.js
  web/src/components/templates/advanced-search.html
  web/src/views/favorites.js
  web/src/views/home.js
  web/src/views/templates/law-detail.html
  web/src/views/templates/not-found.html
  web/src/views/templates/submit-law-section.html
  web/styles/partials/components.css
  web/styles/partials/sections.css
  web/styles/partials/theme.css
  web/styles/partials/utilities.css
  web/styles/partials/variables.css
  web/tests/favorites-view.test.js
  web/tests/submit-law.test.js
Due: eslint --config web/eslint.config.test.js --fix, stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

feat: add monthly peak resource usage report to daily status email
  backend/scripts/analyze-resource-peaks.sh
  backend/scripts/daily-report.sh
Due: none

fix: resolve calculator slider readonly state in accessibility tree
  TODO.md
  web/src/components/buttered-toast-calculator-simple.js
  web/src/components/sod-calculator-simple.js
  web/src/components/templates/buttered-toast-calculator-simple.html
  web/src/components/templates/sod-calculator-simple.html
  web/src/views/buttered-toast-calculator.js
  web/src/views/sods-calculator.js
  web/src/views/templates/buttered-toast-calculator.html
  web/src/views/templates/sods-calculator.html
Due: npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

fix(web): standardize h1 styling and heading hierarchy across all pages
  package.json
  web/public/404.html
  web/public/offline.html
  web/src/components/trending.js
  web/src/main.js
  web/src/views/favorites.js
  web/src/views/home.js
  web/src/views/templates/browse.html
  web/src/views/templates/buttered-toast-calculator.html
  web/src/views/templates/categories.html
  web/src/views/templates/category-detail.html
  web/src/views/templates/law-detail.html
  web/src/views/templates/not-found.html
  web/src/views/templates/sods-calculator.html
  web/styles/partials/sections.css
  web/tests/favorites-view.test.js
Due: eslint --config web/eslint.config.test.js --fix, stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json

fix(web): align h1 left and move outside cards for consistency
  web/src/utils/markdown-content.js
  web/src/views/favorites.js
  web/src/views/templates/categories.html
  web/tests/markdown-content.test.js
Due: eslint --config web/eslint.config.test.js --fix, npx html-validate --config web/.htmlvalidate.json

fix(web): remove redundant description from categories page
  web/src/views/templates/categories.html
  web/tests/categories.test.js
Due: eslint --config web/eslint.config.test.js --fix, npx html-validate --config web/.htmlvalidate.json

fix(web): add bottom padding to page titles
  web/styles/partials/sections.css
Due: stylelint --config web/.stylelintrc.json --fix

fix(web): handle dynamic import failures gracefully
  web/src/main.js
  web/src/utils/mathjax.js
  web/tests/mathjax.test.js
  web/vite.config.js
Due: eslint --config web/eslint.config.test.js --fix

fix(web): remove localhost fallback URL that caused production errors
  web/src/utils/api.js
  web/src/utils/constants.js
  web/src/utils/request.js
  web/tests/api.test.js
  web/tests/constants.test.js
  web/tests/request.test.js
  web/tests/submit-law.test.js
  web/tests/voting-api.test.js
  web/tests/voting.test.js
Due: eslint --config web/eslint.config.test.js --fix

fix(web): silently catch Google Analytics script load errors
  web/src/utils/third-party.js
  web/tests/third-party-coverage.test.js
Due: eslint --config web/eslint.config.test.js --fix

fix(web): stop reporting AdSense load failures to Sentry
  web/src/utils/ads.js
  web/tests/ads.test.js
Due: eslint --config web/eslint.config.test.js --fix

fix(web): stop reporting module import failures to Sentry
  web/src/main.js
  web/src/utils/mathjax.js
  web/tests/mathjax.test.js
Due: eslint --config web/eslint.config.test.js --fix

fix(web): filter browser extension and transient errors from Sentry
  web/src/main.js
Due: none

fix(web): filter ServiceWorker update errors from Sentry
  web/src/main.js
Due: none

fix(web): handle InvalidStateError in service worker update
  web/src/main.js
Due: none

fix(web): filter ServiceWorker registration fetch errors from Sentry
  web/src/main.js
Due: none

fix(web): filter browser extension internal messaging errors from Sentry
  web/src/main.js
Due: none

Enhance content depth across key pages
  shared/content/about.md
  shared/content/metadata.json
  web/src/views/home.js
  web/src/views/templates/browse.html
  web/src/views/templates/categories.html
  web/src/views/templates/category-detail.html
Due: npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

feat(web): update theme toggle icons and home page content
  package-lock.json
  web/package.json
  web/src/utils/icons.js
  web/src/views/home.js
  web/styles/partials/sections.css
  web/tests/home.test.js
  web/tests/icons.test.js
Due: eslint --config web/eslint.config.test.js --fix, stylelint --config web/.stylelintrc.json --fix

fix(web): move new home page content into existing overview cards
  package-lock.json
  web/package.json
  web/src/views/home.js
Due: none

fix(web): consolidate home page intro into single card
  web/package.json
  web/src/views/home.js
Due: none

fix(web): fix theme toggle icons not rendering correctly
  web/src/views/home.js
  web/styles/partials/components.css
Due: stylelint --config web/.stylelintrc.json --fix

fix(web): move Murphy's Law description to section-subheader
  web/src/views/home.js
  web/tests/home.test.js
Due: eslint --config web/eslint.config.test.js --fix

chore: align workflows to .nvmrc and refresh migration docs
  .github/workflows/backend-ci.yml
  .github/workflows/deploy.yml
  .github/workflows/web-ci.yml
  README.md
  backend/package.json
  package-lock.json
  package.json
  shared/docs/API_ENDPOINTS.md
  shared/docs/DATABASE_MIGRATIONS.md
  shared/docs/DEPLOYMENT.md
  shared/docs/DISASTER-RECOVERY.md
  shared/docs/MIGRATION-GUIDE.md
  shared/docs/MOBILE-ARCHITECTURE.md
  shared/docs/MOBILE-REPOSITORY-STRUCTURE.md
  web/package.json
Due: markdownlint-cli2 --fix

chore: sync lockfile workspace versions
  package-lock.json
Due: none

fix(ci): remove darwin-only root dependencies
  package-lock.json
  package.json
Due: none

fix(ci): repair deploy SSG imports and workspace trigger paths
  .github/workflows/backend-ci.yml
  .github/workflows/web-ci.yml
  package-lock.json
  package.json
  web/package.json
  web/scripts/ssg.mjs
Due: none

fix(deploy): run backend via local tsx cli in PM2
  backend/ecosystem.config.cjs
  shared/docs/DEPLOYMENT.md
Due: markdownlint-cli2 --fix

chore: bump to 2.0.3, lint and type fixes
  CHANGELOG.md
  TODO.md
  package.json
  web/README.md
  web/src/main.ts
  web/src/types/global.d.ts
  web/src/utils/debounce.ts
  web/src/views/law-detail.ts
  web/styles/partials/components.css
  web/styles/partials/sections.css
Due: stylelint --config web/.stylelintrc.json --fix, markdownlint-cli2 --fix

chore: bump to 2.0.4
  .husky/pre-commit
  CHANGELOG.md
  package-lock.json
  package.json
  web/eslint.config.js
  web/package.json
  web/scripts/check-coverage.mjs
  web/tests/button.test.ts
  web/tests/favorites.test.ts
  web/tests/footer-coverage.test.ts
  web/tests/law-submission-email-template.test.ts
  web/tests/router.test.ts
Due: markdownlint-cli2 --fix

Move Science of Murphy's Law section below Submit a Law on home (v3.0.4)
  CHANGELOG.md
  web/package.json
  web/src/views/home.ts
  web/tests/home.test.ts
Due: markdownlint-cli2 --fix

refactor(web): strengthen TypeScript types and extract shared event utilities
  CHANGELOG.md
  web/package.json
  web/src/components/advanced-search.ts
  web/src/components/export-menu.ts
  web/src/components/keyboard-help-modal.ts
  web/src/components/notification.ts
  web/src/components/recently-added.ts
  web/src/components/search-autocomplete.ts
  web/src/components/submit-law.ts
  web/src/components/top-voted.ts
  web/src/main.ts
  web/src/modules/structured-data.ts
  web/src/types/global.d.ts
  web/src/utils/attribution.ts
  web/src/utils/category-cache.ts
  web/src/utils/constants.ts
  web/src/utils/copy-actions.ts
  web/src/utils/error-handler.ts
  web/src/utils/export-context.ts
  web/src/utils/law-card-renderer.ts
  web/src/utils/navigation.ts
  web/src/utils/third-party.ts
  web/src/views/about.ts
  web/src/views/browse.ts
  web/src/views/buttered-toast-calculator.ts
  web/src/views/categories.ts
  web/src/views/category-detail.ts
  web/src/views/contact.ts
  web/src/views/examples.ts
  web/src/views/favorites.ts
  web/src/views/home.ts
  web/src/views/law-detail.ts
  web/src/views/not-found.ts
  web/src/views/origin-story.ts
  web/src/views/privacy.ts
  web/src/views/sods-calculator.ts
  web/src/views/terms.ts
Due: markdownlint-cli2 --fix

fix(web): resolve 182 strictNullChecks errors across 23 source files
  CHANGELOG.md
  web/package.json
  web/scripts/check-coverage.mjs
  web/src/components/breadcrumb.ts
  web/src/components/buttered-toast-calculator-simple.ts
  web/src/components/export-menu.ts
  web/src/components/search-autocomplete.ts
  web/src/components/social-share.ts
  web/src/components/sod-calculator-simple.ts
  web/src/main.ts
  web/src/router.ts
  web/src/utils/button.ts
  web/src/utils/constants.ts
  web/src/utils/content-generator.ts
  web/src/utils/error-handler.ts
  web/src/utils/icons.ts
  web/src/utils/lazy-loader.ts
  web/src/utils/markdown-content.ts
  web/src/utils/search-info.ts
  web/src/utils/theme.ts
  web/src/utils/third-party.ts
  web/src/views/browse.ts
  web/src/views/buttered-toast-calculator.ts
  web/src/views/category-detail.ts
  web/src/views/law-detail.ts
  web/src/views/sods-calculator.ts
  web/vite.config.js
Due: markdownlint-cli2 --fix

feat(web): enable full strict TypeScript mode
  CHANGELOG.md
  web/package.json
  web/src/components/buttered-toast-calculator-simple.ts
  web/src/components/export-menu.ts
  web/src/components/law-of-day.ts
  web/src/components/social-share.ts
  web/src/components/sod-calculator-simple.ts
  web/src/modules/structured-data.ts
  web/src/types/mathjax.d.ts
  web/src/utils/export.ts
  web/src/utils/mathjax.ts
  web/src/views/buttered-toast-calculator.ts
  web/src/views/home.ts
  web/src/views/sods-calculator.ts
  web/tsconfig.json
Due: markdownlint-cli2 --fix

Path conditions:
  eslint --config web/eslint.config.test.js --fix: any of: web/**/*.test.js
  stylelint --config web/.stylelintrc.json --fix: any of: web/styles/**/*.css
  npx html-validate --config web/.htmlvalidate.json: any of: web/**/*.html
  eslint --config backend/eslint.config.js --fix: any of: backend/**/*.{js,mjs}
  eslint --fix || echo 'Linting skipped: shared eslint not configured yet': any of: shared/**/*.{js,mjs}
  markdownlint-cli2 --fix: any of: **/*.md
