Repository ravidorr/murphys-laws: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config web/eslint.config.test.ts --fix, stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, eslint --config backend/eslint.config.ts --fix, eslint --fix || echo 'Linting skipped: shared eslint not configured yet', markdownlint-cli2 --fix

test: cover failed Facebook signature branch
  backend/tests/utils/facebook-signed-request.test.ts
Due: none

fix: use category slugs in submit next actions
  web/src/components/submit-law.ts
  web/tests/submit-law.test.ts
Due: eslint --config web/eslint.config.test.ts --fix

fix: point daily law link at API endpoint
  web/src/components/law-of-day.ts
  web/tests/law-of-day.test.ts
Due: eslint --config web/eslint.config.test.ts --fix

fix: honor related category limit query
  backend/src/controllers/categories.controller.ts
  backend/src/server/api-server.ts
  backend/tests/controllers/categories.controller.test.ts
Due: none

fix: handle submit another action
  web/src/components/submit-law.ts
  web/tests/submit-law.test.ts
Due: eslint --config web/eslint.config.test.ts --fix

fix: stop pinning Android Gradle daemon JDK
  android/gradle/gradle-daemon-jvm.properties
Due: none

fix(web): polish archive UI cards
  CHANGELOG.md
  android/app/build.gradle.kts
  ios/MurphysLaws/Info.plist
  ios/project.yml
  package-lock.json
  package.json
  shared/content/murphys-laws-about-technology.md
  web/package.json
  web/scripts/ssg.ts
  web/src/components/law-list-section.ts
  web/src/components/law-of-day.ts
  web/src/components/trending.ts
  web/src/views/buttered-toast-calculator.ts
  web/src/views/home.ts
  web/src/views/law-detail.ts
  web/src/views/sods-calculator.ts
  web/styles/partials/sections.css
  web/tests/buttered-toast-calculator.test.ts
  web/tests/calculator-state.test.ts
  web/tests/developers.test.ts
  web/tests/discovery.test.ts
  web/tests/home.test.ts
  web/tests/internal-links.test.ts
  web/tests/law-detail.test.ts
  web/tests/law-list-section.test.ts
  web/tests/law-of-day.test.ts
  web/tests/markdown-content.test.ts
  web/tests/not-found.test.ts
  web/tests/recently-added.test.ts
  web/tests/seo.test.ts
  web/tests/sods-calculator.test.ts
  web/tests/ssg.test.ts
  web/tests/trending.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, stylelint --config web/.stylelintrc.json --fix, markdownlint-cli2 --fix

refactor(web): unify card surface classes
  CHANGELOG.md
  package-lock.json
  package.json
  web/DESIGN.md
  web/package.json
  web/scripts/ssg.ts
  web/src/components/advanced-search.ts
  web/src/components/buttered-toast-calculator-simple.ts
  web/src/components/law-list-section.ts
  web/src/components/law-of-day.ts
  web/src/components/sod-calculator-simple.ts
  web/src/components/submit-law.ts
  web/src/components/trending.ts
  web/src/utils/dom.ts
  web/src/utils/markdown-content.ts
  web/src/views/categories.ts
  web/src/views/favorites.ts
  web/src/views/home.ts
  web/src/views/templates/about.html
  web/src/views/templates/browse.html
  web/src/views/templates/buttered-toast-calculator.html
  web/src/views/templates/category-detail.html
  web/src/views/templates/contact.html
  web/src/views/templates/favorites.html
  web/src/views/templates/law-detail.html
  web/src/views/templates/not-found.html
  web/src/views/templates/privacy.html
  web/src/views/templates/sods-calculator.html
  web/src/views/templates/terms.html
  web/styles/partials/components.css
  web/styles/partials/print.css
  web/styles/partials/sections.css
  web/styles/partials/theme.css
  web/tests/categories.test.ts
  web/tests/design-token-leftovers.test.ts
  web/tests/law-detail.test.ts
  web/tests/law-list-section.test.ts
  web/tests/markdown-content.test.ts
  web/tests/ssg.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

chore: force patched postcss resolution
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

fix(web): align law-list card surfaces
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
  web/styles/partials/components.css
  web/styles/partials/sections.css
  web/tests/design-token-leftovers.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, stylelint --config web/.stylelintrc.json --fix, markdownlint-cli2 --fix

docs(web): document law-list card surface behavior
  CHANGELOG.md
  package-lock.json
  package.json
  web/DESIGN.md
Due: markdownlint-cli2 --fix

chore(android): refresh Gradle and SDK dependencies
  CHANGELOG.md
  android/app/build.gradle.kts
  android/app/src/androidTest/java/com/murphyslaws/presentation/home/FakeLawRepository.kt
  android/app/src/main/java/com/murphyslaws/presentation/home/HomeScreen.kt
  android/app/src/main/java/com/murphyslaws/presentation/lawdetail/LawDetailScreen.kt
  android/app/src/main/java/com/murphyslaws/ui/theme/Type.kt
  android/app/src/main/java/com/murphyslaws/ui/theme/WorkSans.kt
  android/app/src/test/java/com/murphyslaws/util/MarkdownParserTest.kt
  android/build.gradle.kts
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle.kts
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

fix: abort hung API fetches after 10s; bump to 2.5.7 / 3.3.4
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
  web/src/utils/api.ts
  web/src/utils/constants.ts
  web/src/utils/request.ts
  web/tests/api.test.ts
  web/tests/request.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix: classify AbortSignal.timeout TimeoutError as transport error; bump 2.5.8 / 3.3.5
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
  web/src/utils/api.ts
  web/tests/api.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

chore: clear all 8 npm audit advisories; bump to 2.5.9
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

fix: drop fetch transport rejections in Sentry beforeSend; bump 2.5.10 / 3.3.6
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
  web/src/utils/sentry-ignore-patterns.ts
  web/tests/sentry-ignore-patterns.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix: suppress aborted fetch Sentry noise
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
  web/src/utils/sentry-ignore-patterns.ts
  web/tests/sentry-ignore-patterns.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

test: wait for styles before Axe scans
  CHANGELOG.md
  web/e2e/accessibility.spec.ts
Due: markdownlint-cli2 --fix

fix: clear high npm audit findings
  CHANGELOG.md
  backend/package.json
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

chore: update vulnerable build dependencies
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
  web/scripts/optimize-images.ts
Due: markdownlint-cli2 --fix

fix: stabilize CI runners and homepage layout
  .github/workflows/ios-ci.yml
  CHANGELOG.md
  backend/package.json
  cli/package.json
  mcp/package.json
  package-lock.json
  package.json
  sdk/package.json
  web/package.json
  web/src/views/home.ts
  web/tests/home.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix: keep CTA labels on one line
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
  web/styles/partials/components.css
Due: stylelint --config web/.stylelintrc.json --fix, markdownlint-cli2 --fix

fix: bypass caching for unlisted API routes
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
  web/scripts/generate-service-worker.ts
  web/tests/service-worker-generation.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix: preserve service worker update lifecycle
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
  web/scripts/generate-service-worker.ts
  web/src/utils/service-worker-registration.ts
  web/tests/service-worker-generation.test.ts
  web/tests/service-worker-registration.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

ci: accelerate Android validation
  .github/workflows/android-ci.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

fix: preserve dark search highlight contrast
  CHANGELOG.md
  web/styles/partials/layout.css
  web/tests/design-token-leftovers.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, stylelint --config web/.stylelintrc.json --fix, markdownlint-cli2 --fix

chore: bump web release versions
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
Due: markdownlint-cli2 --fix

fix: keep routes and category slugs canonical
  CHANGELOG.md
  backend/db/migrations/017_normalize_category_slugs.sql
  backend/package.json
  backend/scripts/build-sqlite.ts
  backend/tests/parse-attributions.test.ts
  nginx.conf
  package-lock.json
  package.json
  scripts/smoke-production.mjs
  shared/docs/API.md
  web/e2e/accessibility.spec.ts
  web/e2e/qa-regressions.spec.ts
  web/package.json
  web/public/llms-full.txt
  web/scripts/ssg.ts
  web/src/components/templates/header.html
  web/src/types/ssg.d.ts
  web/src/utils/constants.ts
  web/src/utils/internal-links.ts
  web/src/views/categories.ts
  web/src/views/favorites.ts
  web/src/views/templates/not-found.html
  web/tests/categories.test.ts
  web/tests/category-groups.test.ts
  web/tests/category-slug-docs.test.ts
  web/tests/constants.test.ts
  web/tests/favorites-view.test.ts
  web/tests/header.test.ts
  web/tests/not-found.test.ts
  web/tests/ssg.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

fix: preserve legacy calculator routes
  CHANGELOG.md
  nginx.conf
  package-lock.json
  package.json
  scripts/smoke-production.mjs
Due: markdownlint-cli2 --fix

fix(web): fit buttered toast formula
  CHANGELOG.md
  web/e2e/qa-regressions.spec.ts
  web/styles/partials/calculator.css
Due: stylelint --config web/.stylelintrc.json --fix, markdownlint-cli2 --fix

Release v2.6.11
  CHANGELOG.md
  backend/package.json
  backend/src/controllers/laws.controller.ts
  backend/src/services/attributions.service.ts
  backend/src/services/laws.service.ts
  backend/src/utils/http-helpers.ts
  backend/tests/controllers/laws.controller.test.ts
  backend/tests/services/attributions.service.test.ts
  backend/tests/services/laws.service.test.ts
  backend/tests/utils/http-helpers.test.ts
  backend/tsconfig.tests.json
  mcp/package.json
  nginx.conf
  package-lock.json
  package.json
  web/package.json
  web/src/components/search-autocomplete.ts
  web/src/views/law-detail.ts
  web/tests/law-detail.test.ts
  web/tests/search-autocomplete.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

Release v2.6.12
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
  web/src/components/search-autocomplete.ts
  web/tests/search-autocomplete.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

chore: remove Pendo from Android app
  android/app/build.gradle.kts
  android/app/proguard-rules.pro
  android/app/src/androidTest/java/com/murphyslaws/presentation/MainAppNavigationTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/murphyslaws/MurphysLawsApp.kt
  android/app/src/main/java/com/murphyslaws/presentation/MainApp.kt
  android/settings.gradle.kts
Due: none

docs: add dependency audit remediation design
  docs/superpowers/specs/2026-10-06-dependency-audit-remediation-design.md
Due: markdownlint-cli2 --fix

chore: remediate compatible npm audit findings
  backend/package.json
  cli/package.json
  mcp/package.json
  package-lock.json
  package.json
  sdk/package.json
  web/package.json
Due: none

fix: align dependency upgrade compatibility
  backend/package.json
  backend/scripts/health-check.ts
  backend/tsconfig.build.json
  backend/tsconfig.json
  backend/tsconfig.tests.json
  cli/package.json
  docs/DEPENDENCY_AUDIT_EXCEPTIONS.md
  docs/superpowers/plans/2026-10-06-dependency-audit-remediation.md
  docs/superpowers/specs/2026-10-06-dependency-audit-remediation-design.md
  mcp/package.json
  package-lock.json
  sdk/package.json
  web/package.json
Due: markdownlint-cli2 --fix

Path conditions:
  eslint --config web/eslint.config.test.ts --fix: any of: web/**/*.test.{js,ts}
  stylelint --config web/.stylelintrc.json --fix: any of: web/styles/**/*.css
  npx html-validate --config web/.htmlvalidate.json: any of: web/**/*.html
  eslint --config backend/eslint.config.ts --fix: any of: backend/**/*.{js,mjs}
  eslint --fix || echo 'Linting skipped: shared eslint not configured yet': any of: shared/**/*.{js,mjs}
  markdownlint-cli2 --fix: any of: **/*.md
