Repository ravidorr/murphys-laws: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config web/eslint.config.test.ts --fix, stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, eslint --config backend/eslint.config.ts --fix, eslint --fix || echo 'Linting skipped: shared eslint not configured yet', markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "web/**/!(*.test).{js,mjs,ts}": [
    "eslint --config web/eslint.config.ts --fix"
  ],
  "web/**/*.test.{js,ts}": [
    "eslint --config web/eslint.config.test.ts --fix"
  ],
  "web/styles/**/*.css": [
    "stylelint --config web/.stylelintrc.json --fix"
  ],
  "web/**/*.html": [
    "npx html-validate --config web/.htmlvalidate.json"
  ],
  "backend/**/*.{js,mjs}": [
    "eslint --config backend/eslint.config.ts --fix"
  ],
  "shared/**/*.{js,mjs}": [
    "eslint --fix || echo 'Linting skipped: shared eslint not configured yet'"
  ],
  "**/*.md": [
    "markdownlint-cli2 --fix"
  ]
}

chore: remove mcp api-client shim, sync version string, add npm badges; bump to 2.3.1
  CHANGELOG.md
  README.md
  cli/README.md
  mcp/README.md
  mcp/package.json
  mcp/src/api-client.ts
  mcp/src/server.ts
  mcp/src/tools/get-law-of-the-day.ts
  mcp/src/tools/get-law.ts
  mcp/src/tools/get-laws-by-category.ts
  mcp/src/tools/get-random-law.ts
  mcp/src/tools/list-categories.ts
  mcp/src/tools/search-laws.ts
  mcp/src/tools/submit-law.ts
  package-lock.json
  package.json
  sdk/README.md
Due: markdownlint-cli2 --fix

chore: add SDK / CLI / MCP CI workflows + MCP test suite; bump to 2.3.2
  .github/workflows/cli-ci.yml
  .github/workflows/mcp-ci.yml
  .github/workflows/sdk-ci.yml
  CHANGELOG.md
  mcp/eslint.config.ts
  mcp/package.json
  mcp/tests/format.test.ts
  mcp/tests/helpers.ts
  mcp/tests/server.test.ts
  mcp/tests/tools.test.ts
  mcp/tsconfig.build.json
  mcp/tsconfig.json
  mcp/vitest.config.ts
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

fix(ci): build sdk before cli/mcp typecheck so workspace link resolves
  .github/workflows/cli-ci.yml
  .github/workflows/mcp-ci.yml
  CHANGELOG.md
Due: markdownlint-cli2 --fix

refactor(mcp): use SDK typed methods + clean audit warnings; bump to 2.4.0
  CHANGELOG.md
  mcp/package.json
  mcp/src/format.ts
  mcp/src/tools/get-law-of-the-day.ts
  mcp/src/tools/get-law.ts
  mcp/src/tools/get-laws-by-category.ts
  mcp/src/tools/get-random-law.ts
  mcp/src/tools/list-categories.ts
  mcp/src/tools/search-laws.ts
  mcp/src/tools/submit-law.ts
  mcp/tests/format.test.ts
  mcp/tests/helpers.ts
  mcp/tests/tools.test.ts
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

docs: cookbook sections + CI/coverage badges; ignore local-only md in lint
  CHANGELOG.md
  cli/README.md
  mcp/README.md
  package-lock.json
  package.json
  sdk/README.md
Due: markdownlint-cli2 --fix

chore(mcp): fix registry namespace to reverse-DNS; bump to 2.4.2
  CHANGELOG.md
  mcp/package.json
  mcp/server.json
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

chore: gitignore .config/ for local-only MCP registry credentials
  .gitignore
  CHANGELOG.md
Due: markdownlint-cli2 --fix

fix(mcp): trim server.json description to <=100 chars for registry; bump to 2.4.3
  CHANGELOG.md
  mcp/server.json
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

feat(mcp): auto-republish to MCP Registry on server.json changes; bump to 2.4.4
  .github/workflows/mcp-registry-publish.yml
  CHANGELOG.md
  mcp/README.md
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

fix(ci): match MCP registry entry by exact server.name in verify step
  .github/workflows/mcp-registry-publish.yml
  CHANGELOG.md
Due: markdownlint-cli2 --fix

fix(ci): make mcp-registry-publish idempotent; bump to 2.4.5
  .github/workflows/mcp-registry-publish.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

chore: bump android gradle plugin to 9.2.0 and wrapper to 9.4.1
  CHANGELOG.md
  android/build.gradle.kts
  android/gradle/wrapper/gradle-wrapper.properties
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

fix: bump @xmldom/xmldom to 0.9.10 and speech-rule-engine to 4.1.4
  CHANGELOG.md
  package-lock.json
Due: markdownlint-cli2 --fix

feat: adopt DESIGN.md as the web design-system contract; bump 2.4.7 / 3.2.4
  CHANGELOG.md
  package-lock.json
  package.json
  web/.gitignore
  web/DESIGN.md
  web/package.json
  web/scripts/design-md-lint.ts
  web/scripts/sync-design-tokens.ts
  web/tests/design-md-lint.test.ts
  web/tests/sync-design-tokens.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

feat(web): redesign PWA install prompt (Stitch dogfood); bump 2.4.8 / 3.2.5
  CHANGELOG.md
  package-lock.json
  package.json
  web/DESIGN.md
  web/package.json
  web/src/components/install-prompt.ts
  web/styles/partials/install-prompt.css
Due: stylelint --config web/.stylelintrc.json --fix, markdownlint-cli2 --fix

chore(web): wire rank into DESIGN.md and guard against variables.css drift; bump 2.4.9 / 3.2.6
  .lintstagedrc.json
  CHANGELOG.md
  package-lock.json
  package.json
  web/DESIGN.md
  web/package.json
  web/scripts/sync-design-tokens.ts
Due: markdownlint-cli2 --fix

feat(web): add focus trap + aria-modal to PWA install prompt; bump 2.4.10 / 3.2.7
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
  web/src/components/install-prompt.ts
  web/tests/install-prompt.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

feat(web): expand DESIGN.md components to cover chrome; bump to 2.4.11 / 3.2.8
  CHANGELOG.md
  package-lock.json
  package.json
  web/DESIGN.md
  web/package.json
  web/scripts/sync-design-tokens.ts
  web/tests/sync-design-tokens.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

feat(web): export DESIGN.md tokens as DTCG JSON; bump to 2.4.12 / 3.2.9
  .gitignore
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
  web/scripts/export-design-tokens.ts
  web/scripts/sync-design-tokens.ts
  web/tests/export-design-tokens.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

feat(shared): mirror web/DESIGN.md tokens at shared/DESIGN.md; bump to 2.4.13 / 3.2.10
  .lintstagedrc.json
  CHANGELOG.md
  package-lock.json
  package.json
  shared/DESIGN.md
  web/package.json
  web/scripts/sync-design-tokens.ts
  web/tests/sync-design-tokens.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix(web): guard pre-commit design:sync hook; bump to 2.4.14 / 3.2.11
  .lintstagedrc.json
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
  web/scripts/sync-design-tokens.ts
  web/tests/sync-design-tokens.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

chore: document ios/android version-file rules in ship skill; bump to 2.4.15
  .claude/skills/ship/SKILL.md
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

chore: extend ship-skill version-bump scope to shared/content; bump to 2.4.16
  .claude/skills/ship/SKILL.md
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

feat(ios): generate DS tokens from shared/DESIGN.md; bump root 2.4.17 / iOS 1.0.1 (build 2)
  .gitignore
  CHANGELOG.md
  ios/MurphysLaws/Info.plist
  ios/generate-xcode-project.sh
  ios/project.yml
  package-lock.json
  package.json
  web/package.json
  web/scripts/export-ios-tokens.ts
  web/tests/export-ios-tokens.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

feat(ios): adopt DS.Color.mutedFg in SkeletonModifier; bump root 2.4.17 / iOS 1.0.2 (build 3)
  CHANGELOG.md
  ios/MurphysLaws/Info.plist
  ios/MurphysLaws/Views/Home/SkeletonViews.swift
  ios/project.yml
Due: markdownlint-cli2 --fix

feat(ios): bundle Work Sans variable font; bump root 2.4.18 / iOS 1.1.0 (build 4)
  CHANGELOG.md
  ios/MurphysLaws/Info.plist
  ios/MurphysLaws/Resources/Fonts/WorkSans-VariableFont_wght.ttf
  ios/project.yml
  package-lock.json
  package.json
  web/scripts/export-ios-tokens.ts
  web/tests/export-ios-tokens.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

feat(android): generate DS tokens from shared/DESIGN.md; bump root 2.4.19 / Android 1.0.1 (vc 2)
  .gitignore
  CHANGELOG.md
  android/app/build.gradle.kts
  android/app/src/main/java/com/murphyslaws/ui/theme/Color.kt
  android/app/src/main/java/com/murphyslaws/ui/theme/Theme.kt
  android/app/src/main/java/com/murphyslaws/ui/theme/Type.kt
  package-lock.json
  package.json
  web/package.json
  web/scripts/export-android-tokens.ts
  web/tests/export-android-tokens.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

feat(android): consume DS.Color in screens; bump root 2.4.20 / Android 1.0.2 (versionCode 3)
  CHANGELOG.md
  android/app/build.gradle.kts
  android/app/src/main/java/com/murphyslaws/domain/model/RiskLevel.kt
  android/app/src/main/java/com/murphyslaws/presentation/components/LawListCard.kt
  android/app/src/main/java/com/murphyslaws/presentation/home/HomeScreen.kt
  android/app/src/main/java/com/murphyslaws/presentation/lawdetail/LawDetailScreen.kt
  android/app/src/main/java/com/murphyslaws/presentation/search/SearchScreen.kt
  android/app/src/main/java/com/murphyslaws/util/MarkdownParser.kt
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

feat(android): bundle Work Sans variable font; bump root 2.4.21 / Android 1.1.0 (versionCode 4)
  CHANGELOG.md
  android/app/build.gradle.kts
  android/app/src/main/java/com/murphyslaws/ui/theme/WorkSans.kt
  android/app/src/main/res/font/work_sans_variable.ttf
  package-lock.json
  package.json
  web/scripts/export-android-tokens.ts
  web/tests/export-android-tokens.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix(ci): regenerate Xcode project in CI so xcodebuild picks up Tokens.swift
  .github/workflows/ios-ci.yml
  CHANGELOG.md
Due: markdownlint-cli2 --fix

fix(ci): drop XcodeGen `info:` block; let hand-authored Info.plist be source of truth
  CHANGELOG.md
  ios/project.yml
Due: markdownlint-cli2 --fix

fix(ci): install Node + regenerate design tokens before iOS/Android builds
  .github/workflows/android-ci.yml
  .github/workflows/ios-ci.yml
  CHANGELOG.md
Due: markdownlint-cli2 --fix

fix(ios): qualify Category as MurphysLaws.Category in test helper
  CHANGELOG.md
  ios/MurphysLawsTests/CategoryRepositoryTests.swift
Due: markdownlint-cli2 --fix

fix(ci): widen Info.plist exclude to **/Info.plist to catch stray scaffolded plist
  CHANGELOG.md
  ios/project.yml
Due: markdownlint-cli2 --fix

fix(ios): qualify Category annotations in repository tests
  CHANGELOG.md
  ios/MurphysLawsTests/CategoryRepositoryTests.swift
Due: markdownlint-cli2 --fix

fix(ios): compile markdown content tests as unit tests
  CHANGELOG.md
  ios/MurphysLaws.xcodeproj/project.pbxproj
  ios/MurphysLaws.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  ios/MurphysLaws.xcodeproj/xcshareddata/xcschemes/MurphysLaws.xcscheme
  ios/project.yml
Due: markdownlint-cli2 --fix

chore: limit iOS CI push runs to main; bump to 2.4.18
  .github/workflows/ios-ci.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

fix(ios): use Work Sans PostScript name in generated fonts
  CHANGELOG.md
  web/scripts/export-ios-tokens.ts
  web/tests/export-ios-tokens.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix
