Repository ravidorr/murphys-laws: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config web/eslint.config.test.js --fix, stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, eslint --config backend/eslint.config.js --fix, eslint --fix || echo 'Linting skipped: shared eslint not configured yet', markdownlint-cli2 --fix

chore(web): config cleanup and ESLint hardening
  CHANGELOG.md
  web/eslint.config.js
  web/package.json
  web/src/types/app.d.ts
  web/src/utils/export.ts
Due: markdownlint-cli2 --fix

Add CI and pre-push guardrails: typecheck, lint, coverage, audit, commit-msg
  .github/workflows/backend-ci.yml
  .github/workflows/web-ci.yml
  .husky/commit-msg
  .husky/pre-push
  .lintstagedrc.json
  CHANGELOG.md
  backend/src/services/og-image.service.ts
  backend/vitest.config.ts
  package-lock.json
Due: markdownlint-cli2 --fix

chore: bump to 2.0.7, npm audit fix --force (Sentry, typescript-eslint)
  CHANGELOG.md
  backend/package.json
  package-lock.json
  package.json
  web/package.json
Due: markdownlint-cli2 --fix

fix(web): ensure dist HTML passes html-validate
  CHANGELOG.md
  web/index.html
  web/package.json
  web/scripts/ssg.mjs
  web/src/views/about.ts
  web/src/views/categories.ts
  web/src/views/category-detail.ts
  web/src/views/contact.ts
  web/src/views/examples.ts
  web/src/views/favorites.ts
  web/src/views/home.ts
  web/src/views/law-detail.ts
  web/src/views/origin-story.ts
  web/src/views/privacy.ts
  web/src/views/terms.ts
  web/tests/about.test.ts
  web/tests/contact.test.ts
  web/tests/examples.test.ts
  web/tests/favorites-view.test.ts
  web/tests/privacy.test.ts
  web/tests/terms.test.ts
Due: npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

fix(web): pin typescript-eslint to 8.56.0 for ESLint 10 compatibility
  CHANGELOG.md
  backend/package.json
  package-lock.json
  package.json
  web/package.json
Due: markdownlint-cli2 --fix

Update web: components, utils, and views
  CHANGELOG.md
  web/src/components/buttered-toast-calculator-simple.ts
  web/src/components/keyboard-help-modal.ts
  web/src/components/sod-calculator-simple.ts
  web/src/components/trending.ts
  web/src/utils/constants.ts
  web/src/utils/content-generator.ts
  web/src/utils/copy-actions.ts
  web/src/utils/icons.ts
  web/src/utils/markdown-content.ts
  web/src/utils/navigation.ts
  web/src/utils/voting.ts
  web/src/views/buttered-toast-calculator.ts
  web/src/views/categories.ts
  web/src/views/category-detail.ts
  web/src/views/favorites.ts
  web/src/views/not-found.ts
  web/src/views/sods-calculator.ts
Due: markdownlint-cli2 --fix

chore: bump to 2.0.9 / 2.0.2 / 3.0.13; CI fixes, pre-commit CI checks, npm run ci
  .github/workflows/deploy.yml
  .husky/pre-commit
  CHANGELOG.md
  backend/package.json
  backend/scripts/export-law-updates.mjs
  backend/scripts/migrate.mjs
  backend/scripts/migration-safety-check.mjs
  backend/scripts/show-recent-updates.mjs
  backend/src/services/email.service.ts
  package.json
  web/package.json
  web/src/components/submit-law.ts
  web/src/views/buttered-toast-calculator.ts
  web/src/views/categories.ts
  web/src/views/sods-calculator.ts
  web/tests/install-prompt.test.ts
  web/tests/navigation.test.ts
  web/tests/search-autocomplete.test.ts
Due: eslint --config backend/eslint.config.js --fix, markdownlint-cli2 --fix

chore: bump to 2.0.10 / 2.0.3 / 3.0.14; CI and Sentry build fixes
  .github/workflows/backend-ci.yml
  .github/workflows/deploy.yml
  .github/workflows/web-ci.yml
  CHANGELOG.md
  backend/package.json
  package.json
  web/package.json
  web/vite.config.js
Due: markdownlint-cli2 --fix

chore: bump to 2.0.11 / 2.0.4 / 3.0.15
  CHANGELOG.md
  backend/package.json
  backend/src/server/api-server.ts
  package.json
  web/package.json
Due: markdownlint-cli2 --fix

chore(backend): add tests and coverage for 95% plan
  CHANGELOG.md
  backend/tests/controllers/laws.controller.test.ts
  backend/tests/router.test.ts
  backend/tests/server/api-server.test.ts
  backend/tests/services/database.service.test.ts
  backend/tests/services/email.service.test.ts
  backend/tests/services/feed.service.test.ts
  backend/tests/services/laws.service.test.ts
  backend/tests/services/og-image.service.test.ts
  backend/tests/utils/facebook-signed-request.test.ts
  backend/tests/utils/http-helpers.test.ts
  backend/vitest.config.ts
Due: markdownlint-cli2 --fix

fix(web): guard PWA install prompt localStorage in insecure contexts
  web/package.json
  web/src/components/install-prompt.ts
  web/tests/install-prompt.test.ts
Due: none

chore: add CHANGELOG entry for install-prompt SecurityError fix
  CHANGELOG.md
Due: markdownlint-cli2 --fix

fix(web): filter Sentry noise for performanceMetrics feature not found
  CHANGELOG.md
  web/package.json
  web/src/main.ts
  web/src/utils/sentry-ignore-patterns.ts
  web/tests/sentry-ignore-patterns.test.ts
Due: markdownlint-cli2 --fix

chore(web): bump to 3.0.16, branch coverage tests and checklist
  .github/workflows/deploy.yml
  CHANGELOG.md
  web/scripts/uncovered-branches-from-lcov.mjs
  web/src/router.ts
  web/src/utils/constants.ts
  web/src/utils/export.ts
  web/src/utils/icons.ts
  web/tests/advanced-search.test.ts
  web/tests/browse.test.ts
  web/tests/button.test.ts
  web/tests/constants.test.ts
  web/tests/export-menu.test.ts
  web/tests/export.test.ts
  web/tests/favorites-view.test.ts
  web/tests/feature-flags.test.ts
  web/tests/footer.test.ts
  web/tests/header.test.ts
  web/tests/icons.test.ts
  web/tests/install-prompt.test.ts
  web/tests/law-detail.test.ts
  web/tests/law-of-day.test.ts
  web/tests/lazy-loader.test.ts
  web/tests/markdown-content.test.ts
  web/tests/not-found.test.ts
  web/tests/router.test.ts
  web/tests/search-autocomplete.test.ts
  web/tests/structured-data.test.ts
  web/tests/submit-law.test.ts
  web/tests/theme.test.ts
  web/tests/third-party-coverage.test.ts
  web/tests/third-party.test.ts
  web/tests/update-notification.test.ts
  web/uncovered-branches.md
  web/vite.config.js
Due: markdownlint-cli2 --fix

feat(web): add Sentry metrics (count, gauge, distribution)
  package-lock.json
  web/package.json
  web/src/main.ts
  web/src/utils/metrics.ts
  web/tests/metrics.test.ts
Due: none

fix(ci): avoid Sentry/git in backend tests, bump to 2.0.12
  .github/workflows/backend-ci.yml
  CHANGELOG.md
  backend/tests/setup.ts
  backend/vitest.config.ts
  package.json
Due: markdownlint-cli2 --fix

test(backend): cover isRunAsMain true branch, bump to 2.0.13
  CHANGELOG.md
  backend/tests/server/api-server.test.ts
  package.json
Due: markdownlint-cli2 --fix

Add backup script to repo, exclude backend/web node_modules, deploy via deploy
  .github/workflows/deploy.yml
  CHANGELOG.md
  backend/scripts/backup-murphys.sh
  backend/scripts/deploy.mjs
  package.json
  shared/docs/BACKUP-RESTORE.md
  web/scripts/check-coverage.mjs
Due: eslint --config backend/eslint.config.js --fix, markdownlint-cli2 --fix

chore(ts): convert web vite.config to TypeScript
  CHANGELOG.md
  web/package.json
  web/tsconfig.json
  web/vite.config.ts
Due: markdownlint-cli2 --fix

chore(ts): convert ESLint configs to TypeScript (backend + web), add jiti
  .lintstagedrc.json
  CHANGELOG.md
  backend/eslint.config.ts
  backend/package.json
  package-lock.json
  web/eslint.config.test.ts
  web/eslint.config.ts
  web/package.json
Due: markdownlint-cli2 --fix

chore(ts): convert web scripts to TypeScript (sanitize-husky-hooks, check-coverage, uncovered-branches-from-lcov, optimize-images, ssg)
  .husky/pre-commit
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
  web/scripts/check-coverage.ts
  web/scripts/optimize-images.ts
  web/scripts/sanitize-husky-hooks.ts
  web/scripts/ssg.ts
  web/scripts/uncovered-branches-from-lcov.ts
  web/tsconfig.json
  web/vite.config.ts
Due: markdownlint-cli2 --fix

chore(ts): move parse-attributions test to backend as Vitest test
  CHANGELOG.md
  backend/package.json
  backend/scripts/build-sqlite.d.mts
  backend/tests/parse-attributions.test.ts
  web/tests/parse-attributions.mjs
Due: markdownlint-cli2 --fix

chore(ts): convert backend infra scripts to TypeScript
  CHANGELOG.md
  backend/package.json
  backend/scripts/cleanup-ports.ts
  backend/scripts/health-check.ts
  backend/scripts/sanitize-husky-hooks.ts
  backend/scripts/validate-node-version.ts
  backend/scripts/validate-ports.ts
  package.json
Due: markdownlint-cli2 --fix

chore(ts): convert backend DB scripts to TypeScript
  CHANGELOG.md
  backend/package.json
  backend/scripts/build-sqlite.d.mts
  backend/scripts/build-sqlite.ts
  backend/scripts/generate-add-laws-migration.ts
  backend/scripts/generate-populate-categories-migration.ts
  backend/scripts/migrate.ts
  backend/scripts/migration-safety-check.ts
  backend/tests/parse-attributions.test.ts
  package.json
Due: markdownlint-cli2 --fix

chore(ts): convert backend remaining scripts to TypeScript
  CHANGELOG.md
  backend/package.json
  backend/scripts/deploy.ts
  backend/scripts/export-law-updates.ts
  backend/scripts/log-manager.mjs
  backend/scripts/log-manager.ts
  backend/scripts/review-laws.mjs
  backend/scripts/review-laws.ts
  backend/scripts/select-law-of-day.ts
  backend/scripts/show-recent-updates.ts
  package.json
Due: eslint --config backend/eslint.config.js --fix, markdownlint-cli2 --fix

docs: document markdownlint-cli2 .mjs exception, bump to 2.0.18
  .markdownlint-cli2.mjs
  CHANGELOG.md
  docs/DEPENDENCY_MAJOR_UPGRADES.md
  package.json
Due: markdownlint-cli2 --fix

fix(backup): apply 30-day retention to env_* backup files
  CHANGELOG.md
  backend/package.json
  backend/scripts/backup-murphys.sh
Due: markdownlint-cli2 --fix

feat(web): add In context editorial block to law detail pages (AdSense)
  CHANGELOG.md
  backend/src/services/laws.service.ts
  package.json
  web/src/utils/law-context-copy.ts
  web/src/views/law-detail.ts
  web/src/views/templates/law-detail.html
  web/tests/law-context-copy.test.ts
  web/tests/law-detail.test.ts
Due: npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

feat: In context from categories table, same card style as law card
  CHANGELOG.md
  backend/db/migrations/012_add_category_law_context.sql
  backend/scripts/build-sqlite.ts
  backend/src/services/laws.service.ts
  backend/tests/services/categories.service.test.ts
  backend/tests/services/feed.service.test.ts
  backend/tests/services/laws.service.test.ts
  package.json
  web/src/types/app.d.ts
  web/src/utils/law-context-copy.ts
  web/src/views/law-detail.ts
  web/src/views/templates/law-detail.html
  web/tests/law-context-copy.test.ts
  web/tests/law-detail.test.ts
Due: npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

fix: law detail UI - wrap title/quote, In context card style, line spacing
  CHANGELOG.md
  package.json
  web/src/views/templates/law-detail.html
  web/styles/partials/components.css
  web/styles/partials/sections.css
Due: stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

Section 4: Expand category descriptions and category detail layout (AdSense)
  CHANGELOG.md
  backend/db/migrations/013_expand_category_descriptions.sql
  package.json
  web/src/views/templates/category-detail.html
  web/styles/partials/sections.css
Due: stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

Category detail: breadcrumb separator, intro in card below Advanced Search
  CHANGELOG.md
  web/src/components/breadcrumb.ts
  web/src/views/category-detail.ts
  web/src/views/templates/category-detail.html
  web/styles/partials/components.css
  web/styles/partials/sections.css
Due: stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

Category detail: merge intro into laws card, description before search info
  CHANGELOG.md
  web/src/views/category-detail.ts
  web/src/views/templates/category-detail.html
  web/styles/partials/sections.css
  web/tests/category-detail.test.ts
Due: stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

Breadcrumb text separator and category description spacing
  CHANGELOG.md
  web/src/components/breadcrumb.ts
  web/styles/partials/components.css
  web/styles/partials/sections.css
Due: stylelint --config web/.stylelintrc.json --fix, markdownlint-cli2 --fix

Section 2: Server-side HTML injection for law and category (AdSense first-paint)
  CHANGELOG.md
  backend/src/controllers/spa.controller.ts
  backend/src/server/api-server.ts
  backend/src/services/categories.service.ts
  backend/src/services/html-injection.service.ts
  backend/tests/services/categories.service.test.ts
  nginx.conf
Due: markdownlint-cli2 --fix

Section 3: Browse title and meta description (AdSense per-page metadata)
  CHANGELOG.md
  web/src/views/browse.ts
Due: markdownlint-cli2 --fix

Pre-commit: run backend test:coverage; add backend coverage tests for 95%
  .husky/pre-commit
  CHANGELOG.md
  backend/tests/controllers/spa.controller.test.ts
  backend/tests/services/html-injection.service.test.ts
  backend/tests/utils/http-helpers.test.ts
Due: markdownlint-cli2 --fix

Section 5: long-form articles + link from home; article refresh and version bump
  CHANGELOG.md
  TODO.md
  backend/README.md
  backend/tests/services/email.service.test.ts
  backend/tests/services/html-injection.service.test.ts
  backend/tests/services/laws.service.test.ts
  package.json
  shared/README.md
  shared/content/metadata.json
  shared/content/murphys-law-project-management.md
  shared/content/why-murphys-law-feels-true.md
  web/README.md
  web/package.json
  web/scripts/ssg.ts
  web/src/main.ts
  web/src/modules/structured-data.ts
  web/src/utils/markdown-content.ts
  web/src/views/browse.ts
  web/src/views/category-detail.ts
  web/src/views/home.ts
  web/src/views/murphys-law-project-management.ts
  web/src/views/why-murphys-law-feels-true.ts
  web/tests/home.test.ts
  web/tests/markdown-content.test.ts
  web/tests/murphys-law-project-management.test.ts
  web/tests/router.test.ts
  web/tests/why-murphys-law-feels-true.test.ts
  web/tsconfig.json
Due: markdownlint-cli2 --fix

Path conditions:
  eslint --config web/eslint.config.test.js --fix: any of: web/**/*.test.js
  stylelint --config web/.stylelintrc.json --fix: any of: web/styles/**/*.css
  npx html-validate --config web/.htmlvalidate.json: any of: web/**/*.html
  eslint --config backend/eslint.config.js --fix: any of: backend/**/*.{js,mjs}
  eslint --fix || echo 'Linting skipped: shared eslint not configured yet': any of: shared/**/*.{js,mjs}
  markdownlint-cli2 --fix: any of: **/*.md
