Repository ravidorr/murphys-laws: changes, and which lint-staged commands are due for each by the changed paths.
All: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate, cd backend && eslint --fix, eslint --fix || echo 'Linting skipped: shared eslint not configured yet'

.lintstagedrc.json:

{
  "web/**/*.{js,mjs}": [
    "cd web && eslint --fix"
  ],
  "web/styles/**/*.css": [
    "cd web && stylelint --fix"
  ],
  "web/**/*.html": [
    "cd web && npx html-validate"
  ],
  "backend/**/*.{js,mjs}": [
    "cd backend && eslint --fix"
  ],
  "shared/**/*.{js,mjs}": [
    "eslint --fix || echo 'Linting skipped: shared eslint not configured yet'"
  ]
}

style: update calculator widget buttons to outline style for consistency
  web/src/components/templates/buttered-toast-calculator-simple.html
  web/src/components/templates/sod-calculator-simple.html
Due: cd web && npx html-validate

style: revert calculator buttons to filled style and match browse button
  web/src/components/templates/buttered-toast-calculator-simple.html
  web/src/components/templates/sod-calculator-simple.html
  web/src/views/home.js
Due: cd web && eslint --fix, cd web && npx html-validate

fix: correctly calculate and display law counts in categories
  backend/src/services/categories.service.mjs
  backend/tests/services/categories.service.test.js
  web/scripts/ssg.mjs
Due: cd web && eslint --fix, cd backend && eslint --fix

style: move categories browse button to section footer for consistency
  web/scripts/ssg.mjs
  web/src/views/home.js
Due: cd web && eslint --fix

feat: implement accessibility improvements (color contrast, ARIA labels, keyboard support)
  web/scripts/ssg.mjs
  web/src/components/buttered-toast-calculator-simple.js
  web/src/components/sod-calculator-simple.js
  web/src/components/templates/buttered-toast-calculator-simple.html
  web/src/components/templates/header.html
  web/src/components/templates/law-of-day.html
  web/src/components/templates/sod-calculator-simple.html
  web/src/utils/content-generator.js
  web/styles/partials/components.css
  web/styles/partials/variables.css
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

fix: update browse all categories button to link to categories page
  web/scripts/ssg.mjs
  web/src/views/home.js
Due: cd web && eslint --fix

fix: pre-render content pages for AdSense compliance
  web/scripts/ssg.mjs
  web/src/views/category-detail.js
  web/src/views/home.js
  web/tests/home.test.js
Due: cd web && eslint --fix

fix: remove orphaned </section> tag in SSG HTML output
  web/scripts/ssg.mjs
Due: cd web && eslint --fix

feat: remove Categories page and Browse All button
  web/scripts/ssg.mjs
  web/src/main.js
  web/src/views/categories.js
  web/src/views/home.js
  web/src/views/templates/categories.html
  web/tests/categories.test.js
  web/tests/home.test.js
Due: cd web && eslint --fix, cd web && npx html-validate

feat: implement WCAG AA accessibility improvements
  web/e2e/accessibility.spec.ts
  web/index.html
  web/package.json
  web/src/components/advanced-search.js
  web/src/components/law-list-section.js
  web/src/main.js
  web/src/router.js
  web/src/utils/law-card-renderer.js
  web/src/views/browse.js
  web/src/views/category-detail.js
  web/src/views/home.js
  web/styles/partials/base.css
  web/styles/partials/components.css
  web/styles/partials/layout.css
  web/styles/partials/theme.css
  web/tests/advanced-search.test.js
  web/tests/browse.test.js
  web/tests/category-detail.test.js
  web/tests/home.test.js
  web/tests/law-card-renderer.test.js
  web/tests/law-list-section.test.js
  web/tests/router.test.js
  web/tests/sods-calculator.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

fix: resolve HTML validation errors and enable no-inline-style rule
  web/.htmlvalidate.json
  web/.htmlvalidateignore
  web/index.html
  web/public/404.html
  web/scripts/ssg.mjs
  web/src/components/templates/advanced-search.html
  web/src/components/templates/footer.html
  web/src/utils/seo.js
  web/src/views/home.js
  web/src/views/templates/browse.html
  web/src/views/templates/buttered-toast-calculator.html
  web/src/views/templates/law-detail.html
  web/src/views/templates/privacy.html
  web/src/views/templates/sods-calculator.html
  web/src/views/templates/terms.html
  web/styles/partials/base.css
  web/tests/seo.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

feat: implement UX improvements from review plan
  TODO.md
  web/src/components/advanced-search.js
  web/src/components/law-of-day.js
  web/src/components/submit-law.js
  web/src/components/templates/header.html
  web/src/views/browse.js
  web/src/views/not-found.js
  web/src/views/sods-calculator.js
  web/src/views/templates/browse.html
  web/src/views/templates/not-found.html
  web/src/views/templates/sods-calculator.html
  web/src/views/templates/submit-law-section.html
  web/styles/partials/components.css
  web/styles/partials/layout.css
  web/styles/partials/sections.css
  web/tests/advanced-search.test.js
  web/tests/browse.test.js
  web/tests/header.test.js
  web/tests/home.test.js
  web/tests/law-of-day.test.js
  web/tests/not-found.test.js
  web/tests/sods-calculator.test.js
  web/tests/submit-law.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

feat: implement UX review fixes for better accessibility and consistency
  backend/src/controllers/attributions.controller.mjs
  web/src/components/advanced-search.js
  web/src/components/submit-law.js
  web/src/components/templates/buttered-toast-calculator-simple.html
  web/src/components/templates/header.html
  web/src/components/templates/sod-calculator-simple.html
  web/src/main.js
  web/src/router.js
  web/src/utils/api.js
  web/src/utils/sanitize.js
  web/src/utils/search-info.js
  web/src/views/about.js
  web/src/views/buttered-toast-calculator.js
  web/src/views/category-detail.js
  web/src/views/contact.js
  web/src/views/origin-story.js
  web/src/views/privacy.js
  web/src/views/sods-calculator.js
  web/src/views/terms.js
  web/styles/partials/calculator.css
  web/styles/partials/sections.css
  web/tests/api.test.js
  web/tests/buttered-toast-calculator-simple.test.js
  web/tests/category-detail.test.js
  web/tests/header.test.js
  web/tests/origin-story.test.js
  web/tests/router.test.js
  web/tests/sanitize.test.js
  web/tests/sod-calculator-simple.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate, cd backend && eslint --fix

feat(web): implement UX improvements from user research review
  TODO.md
  web/src/components/templates/header.html
  web/src/utils/icons.js
  web/src/utils/law-card-renderer.js
  web/src/views/browse.js
  web/src/views/buttered-toast-calculator.js
  web/src/views/category-detail.js
  web/src/views/law-detail.js
  web/src/views/templates/browse.html
  web/src/views/templates/buttered-toast-calculator.html
  web/src/views/templates/law-detail.html
  web/styles/partials/components.css
  web/styles/partials/sections.css
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

feat(web): implement microcopy review improvements
  web/src/components/buttered-toast-calculator-simple.js
  web/src/components/social-share.js
  web/src/components/templates/buttered-toast-calculator-simple.html
  web/src/components/templates/header.html
  web/src/components/templates/sod-calculator-simple.html
  web/src/modules/sods-share.js
  web/src/utils/constants.js
  web/src/utils/dom.js
  web/src/views/browse.js
  web/src/views/buttered-toast-calculator.js
  web/src/views/templates/buttered-toast-calculator.html
  web/src/views/templates/sods-calculator.html
  web/src/views/templates/submit-law-section.html
  web/tests/browse-coverage.test.js
  web/tests/browse.test.js
  web/tests/buttered-toast-calculator-simple.test.js
  web/tests/buttered-toast-calculator.test.js
  web/tests/dom.test.js
  web/tests/social-share.test.js
  web/tests/sods-calculator.test.js
  web/tests/sods-share.test.js
Due: cd web && eslint --fix, cd web && npx html-validate

fix: sync package-lock.json with web/package.json
  package-lock.json
Due: none

chore(web): bump version to 2.1.1
  web/package.json
Due: none

refactor(web): remove redundant desktop navigation links
  web/src/components/templates/header.html
  web/styles/partials/layout.css
  web/tests/header.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

fix(api): add sorting support to laws endpoint
  backend/src/controllers/laws.controller.mjs
  backend/src/services/laws.service.mjs
  backend/tests/controllers/laws.controller.test.js
  backend/tests/services/laws.service.test.js
  web/styles/partials/components.css
  web/tests/browse.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd backend && eslint --fix

fix(web): resolve broken header search icon
  web/src/main.js
  web/styles/partials/components.css
  web/styles/partials/layout.css
Due: cd web && eslint --fix, cd web && stylelint --fix

test: increase coverage to 95% across all metrics
  backend/scripts/check-coverage.mjs
  backend/src/middleware/rate-limit.mjs
  backend/tests/controllers/attributions.controller.test.js
  backend/tests/controllers/votes.controller.test.js
  backend/tests/services/laws.service.test.js
  web/scripts/check-coverage.mjs
  web/src/utils/mathjax.js
  web/src/views/browse.js
  web/src/views/category-detail.js
  web/src/views/home.js
  web/src/views/law-detail.js
  web/src/views/sods-calculator.js
  web/tests/browse.test.js
  web/tests/buttered-toast-calculator.test.js
  web/tests/category-detail.test.js
  web/tests/content-generator.test.js
  web/tests/footer.test.js
  web/tests/home.test.js
  web/tests/icons.test.js
  web/tests/law-detail.test.js
  web/tests/router.test.js
  web/tests/sod-calculator-simple.test.js
  web/vite.config.js
Due: cd web && eslint --fix, cd backend && eslint --fix

feat(web): unify share buttons across all law pages
  web/src/components/law-of-day.js
  web/src/components/social-share.js
  web/src/utils/law-card-renderer.js
  web/src/views/browse.js
  web/src/views/category-detail.js
  web/src/views/law-detail.js
  web/src/views/templates/law-detail.html
  web/styles/partials/components.css
  web/styles/partials/sections.css
  web/tests/browse.test.js
  web/tests/category-detail.test.js
  web/tests/law-detail.test.js
  web/tests/law-of-day.test.js
  web/tests/social-share.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

chore: lower coverage thresholds to 90%
  web/scripts/check-coverage.mjs
  web/vite.config.js
Due: cd web && eslint --fix

feat(web): add error handling, lazy loading, and image optimization
  package-lock.json
  web/package.json
  web/public/social/home.png
  web/public/social/home.webp
  web/scripts/optimize-images.mjs
  web/src/components/templates/footer.html
  web/src/main.js
  web/src/utils/error-handler.js
  web/src/utils/lazy-loader.js
  web/tests/error-handler.test.js
  web/tests/lazy-loader.test.js
Due: cd web && eslint --fix, cd web && npx html-validate

docs: update TODO.md with completed tasks
  TODO.md
Due: none

chore: add code review reminder to pre-commit hook
  .husky/pre-commit
Due: none

fix: only show code review prompt in interactive terminals
  .husky/pre-commit
Due: none

docs: expand TODO.md with new feature ideas
  TODO.md
Due: none

refactor(ui): replace inline share buttons with popover menu
  web/src/components/law-list-section.js
  web/src/components/social-share.js
  web/src/components/trending.js
  web/src/views/browse.js
  web/src/views/category-detail.js
  web/src/views/law-detail.js
  web/styles/partials/components.css
  web/tests/law-detail.test.js
  web/tests/law-of-day.test.js
  web/tests/social-share.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix

fix(social-share): allow copy button clicks to propagate to parent handlers
  web/src/components/social-share.js
  web/styles/partials/components.css
  web/tests/social-share.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix

feat(web): add manual dark mode toggle with localStorage persistence
  web/index.html
  web/src/components/header.js
  web/src/components/templates/header.html
  web/src/utils/icons.js
  web/src/utils/theme.js
  web/styles/partials/components.css
  web/styles/partials/theme.css
  web/tests/header.test.js
  web/tests/icons.test.js
  web/tests/theme.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

feat(web): add WhatsApp share button to social share menu
  TODO.md
  web/src/components/social-share.js
  web/src/utils/icons.js
  web/styles/partials/components.css
  web/tests/social-share.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix

feat(web): add manual dark mode toggle with localStorage persistence
  TODO.md
Due: none

feat(web): add keyboard shortcuts for navigation
  README.md
  TODO.md
  web/src/components/keyboard-help-modal.js
  web/src/components/templates/keyboard-help-modal.html
  web/src/main.js
  web/src/utils/keyboard-shortcuts.js
  web/styles/partials/components.css
  web/tests/keyboard-help-modal.test.js
  web/tests/keyboard-shortcuts.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

feat(web): add tooltip to theme toggle button
  web/src/components/header.js
  web/src/components/templates/header.html
  web/src/utils/theme.js
  web/styles/partials/components.css
  web/tests/header.test.js
  web/tests/theme.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

fix(web): prevent keyboard help modal from reopening when already open
  web/src/utils/keyboard-shortcuts.js
  web/tests/keyboard-shortcuts.test.js
Due: cd web && eslint --fix

fix(web): fix share dropdown being clipped by section-card overflow
  web/styles/partials/sections.css
Due: cd web && stylelint --fix

fix(web): improve share dropdown padding for better text spacing
  web/styles/partials/components.css
Due: cd web && stylelint --fix

style(icons): replace RSS icon with cleaner design
  web/src/utils/icons.js
Due: cd web && eslint --fix
