Repository ravidorr/murphys-laws: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config web/eslint.config.test.ts --fix, stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, eslint --config backend/eslint.config.ts --fix, eslint --fix || echo 'Linting skipped: shared eslint not configured yet', markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "web/**/!(*.test).{js,mjs,ts}": [
    "eslint --config web/eslint.config.ts --fix"
  ],
  "web/**/*.test.{js,ts}": [
    "eslint --config web/eslint.config.test.ts --fix"
  ],
  "web/styles/**/*.css": [
    "stylelint --config web/.stylelintrc.json --fix"
  ],
  "web/**/*.html": [
    "npx html-validate --config web/.htmlvalidate.json"
  ],
  "backend/**/*.{js,mjs}": [
    "eslint --config backend/eslint.config.ts --fix"
  ],
  "shared/**/*.{js,mjs}": [
    "eslint --fix || echo 'Linting skipped: shared eslint not configured yet'"
  ],
  "**/*.md": [
    "markdownlint-cli2 --fix"
  ]
}

fix: vote button clicks on icon/count, bump to 2.0.56 / 3.1.30
  CHANGELOG.md
  package.json
  web/package.json
  web/src/components/law-of-day.ts
  web/src/utils/voting.ts
  web/src/views/law-detail.ts
Due: markdownlint-cli2 --fix

feat: strip markdown escapes from laws
  CHANGELOG.md
  backend/db/migrations/014_strip_markdown_escapes.sql
  backend/package.json
  backend/scripts/build-sqlite.ts
  package-lock.json
  package.json
  web/package.json
Due: markdownlint-cli2 --fix

chore: update dependencies and fix vulnerabilities
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
Due: markdownlint-cli2 --fix

chore: resolve dependency conflict and update overrides
  CHANGELOG.md
  package.json
Due: markdownlint-cli2 --fix

chore: resolve dependency conflict with .npmrc and update changelog
  .npmrc
  CHANGELOG.md
  package.json
Due: markdownlint-cli2 --fix

chore: Strip Markdown escapes, enhance SQL import logic, and upgrade dependencies
  CHANGELOG.md
  backend/vitest.config.ts
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

chore: raise branch coverage to 95% with v8 ignore annotations and new tests; bump root to 2.0.58, backend to 2.0.13, web to 3.1.32
  CHANGELOG.md
  backend/package.json
  backend/src/middleware/rate-limit.ts
  backend/src/server/api-server.ts
  backend/vitest.config.ts
  package.json
  web/package.json
  web/src/components/advanced-search.ts
  web/src/components/social-share.ts
  web/src/utils/mathjax.ts
  web/src/views/buttered-toast-calculator.ts
  web/src/views/category-detail.ts
  web/src/views/law-detail.ts
  web/src/views/sods-calculator.ts
  web/tests/browse-coverage.test.ts
  web/tests/buttered-toast-calculator.test.ts
  web/tests/favorites-view.test.ts
  web/tests/footer-coverage.test.ts
  web/tests/home-coverage.test.ts
  web/tests/law-detail-coverage.test.ts
  web/tests/mathjax.test.ts
  web/tests/social-share.test.ts
  web/vite.config.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix: resolve CI branch coverage gap to reliably pass >=95% on Linux
  CHANGELOG.md
  backend/src/controllers/attributions.controller.ts
  backend/src/services/og-image.service.ts
  backend/src/utils/http-helpers.ts
  backend/tests/controllers/attributions.controller.test.ts
Due: markdownlint-cli2 --fix

chore: bump root to 2.0.59, backend to 2.0.14, web to 3.1.33
  CHANGELOG.md
  backend/package.json
  package.json
  web/package.json
Due: markdownlint-cli2 --fix

fix: suppress Sentry SDK internal pageObserver unhandled rejection
  package.json
  web/package.json
  web/src/utils/sentry-ignore-patterns.ts
  web/tests/sentry-ignore-patterns.test.ts
Due: eslint --config web/eslint.config.test.ts --fix

fix backup script: remove app tarball, fix .env path
  CHANGELOG.md
  backend/scripts/backup-murphys.sh
Due: markdownlint-cli2 --fix

chore: gitignore CLAUDE.md and add Claude Code settings
  .gitignore
  CHANGELOG.md
Due: markdownlint-cli2 --fix

Upgrade build environment: Gradle 9.3.1, AGP 9.1.0, and JVM toolchain config
  android/.gitignore
  android/build.gradle.kts
  android/gradle.properties
  android/gradle/gradle-daemon-jvm.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle.kts
Due: none

make murphys-laws.com more agent-friendly
  .gitignore
  CHANGELOG.md
  backend/scripts/export-openapi.ts
  backend/src/controllers/laws.controller.ts
  backend/src/openapi.ts
  backend/src/server/api-server.ts
  backend/src/services/html-injection.service.ts
  backend/src/services/laws.service.ts
  backend/src/utils/http-helpers.ts
  backend/tests/controllers/laws.controller.test.ts
  backend/tests/services/html-injection.service.test.ts
  backend/tests/services/laws.service.test.ts
  backend/tests/utils/http-helpers.test.ts
  package.json
  web/public/llms.txt
  web/public/robots.txt
Due: markdownlint-cli2 --fix

fix npm audit vulnerabilities (dompurify, flatted, jspdf, undici)
  CHANGELOG.md
  package-lock.json
Due: markdownlint-cli2 --fix

fix stored XSS: escape </script> in JSON-LD payload
  CHANGELOG.md
  backend/src/services/html-injection.service.ts
  backend/tests/services/html-injection.service.test.ts
Due: markdownlint-cli2 --fix

fix service worker serving index.html for /llms.txt and other static files
  CHANGELOG.md
  web/vite.config.ts
Due: markdownlint-cli2 --fix

fix service worker serving index.html for /llms.txt and static files
  CHANGELOG.md
  package.json
  web/e2e/pwa.spec.ts
  web/tests/sw-denylist.test.ts
  web/vite.config.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

remove misleading e2e tests for SW denylist; clarify unit test is authoritative
  CHANGELOG.md
  web/e2e/pwa.spec.ts
  web/tests/sw-denylist.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix: suppress "invalid origin" SW error banner for DuckDuckGo/WebKit
  CHANGELOG.md
  web/package.json
  web/src/utils/error-handler.ts
  web/tests/error-handler.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix: update lockfile for npm audit (brace-expansion, nodemailer, picomatch)
  CHANGELOG.md
  package-lock.json
Due: markdownlint-cli2 --fix

fix: scope "invalid origin" SW suppression to SecurityError DOMException only
  CHANGELOG.md
  web/src/utils/error-handler.ts
  web/tests/error-handler.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix: drop Sentry noise from Google AdSense script errors via denyUrls
  CHANGELOG.md
  web/src/main.ts
Due: markdownlint-cli2 --fix

fix: remove duplicate Sentry capture in unhandledrejection handler
  CHANGELOG.md
  web/src/main.ts
Due: markdownlint-cli2 --fix

fix: drop Sentry noise from GA beacon unhandled rejections
  CHANGELOG.md
  package.json
  web/package.json
  web/src/utils/sentry-ignore-patterns.ts
  web/tests/sentry-ignore-patterns.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix: resolve serialize-javascript high-severity vulns (GHSA-5c6j-r48x-rmvq)
  .npmrc
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
Due: markdownlint-cli2 --fix

fix: suppress webkit.messageHandlers Sentry noise from ad scripts; bump to 2.1.2 / 3.1.36
  CHANGELOG.md
  web/src/utils/sentry-ignore-patterns.ts
  web/tests/sentry-ignore-patterns.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

chore: track .claude config and skills in git; bump to 2.1.3 / 3.1.37
  .claude/launch.json
  .claude/settings.json
  .claude/skills/ship/SKILL.md
  .gitignore
  CHANGELOG.md
  package.json
  web/package.json
Due: markdownlint-cli2 --fix

feat: add MCP server for AI agent integration
  CHANGELOG.md
  backend/tests/middleware/rate-limit.test.ts
  mcp/package.json
  mcp/src/format.ts
  mcp/src/index.ts
  mcp/src/server.ts
  mcp/src/tools/get-law-of-the-day.ts
  mcp/src/tools/get-law.ts
  mcp/src/tools/get-laws-by-category.ts
  mcp/src/tools/get-random-law.ts
  mcp/src/tools/list-categories.ts
  mcp/src/tools/search-laws.ts
  mcp/src/tools/submit-law.ts
  mcp/tsconfig.json
  package-lock.json
  package.json
  web/public/llms-full.txt
  web/public/llms.txt
Due: markdownlint-cli2 --fix

fix: trim input and add rate limiting to MCP submit_law tool
  mcp/src/tools/submit-law.ts
Due: none

feat: make MCP server npm-publishable, add /developers page; bump to 2.2.0 / 3.2.0
  CHANGELOG.md
  README.md
  mcp/.gitignore
  mcp/README.md
  mcp/bin/cli.js
  mcp/package.json
  mcp/server.json
  mcp/src/api-client.ts
  mcp/src/format.ts
  mcp/src/index.ts
  mcp/src/server.ts
  mcp/src/tools/get-law-of-the-day.ts
  mcp/src/tools/get-law.ts
  mcp/src/tools/get-laws-by-category.ts
  mcp/src/tools/get-random-law.ts
  mcp/src/tools/list-categories.ts
  mcp/src/tools/search-laws.ts
  mcp/src/tools/submit-law.ts
  mcp/tsconfig.json
  package-lock.json
  package.json
  web/package.json
  web/public/llms-full.txt
  web/public/llms.txt
  web/src/components/templates/footer.html
  web/src/main.ts
  web/src/views/developers.ts
Due: npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

fix: only catch 404 in get_law_of_the_day, rethrow other errors
  mcp/src/tools/get-law-of-the-day.ts
Due: none

fix: rewrite /developers page to use markdown content system; add code/pre/table CSS
  shared/content/developers.md
  shared/content/metadata.json
  web/src/utils/markdown-content.ts
  web/src/views/developers.ts
  web/styles/partials/sections.css
  web/styles/partials/theme.css
Due: stylelint --config web/.stylelintrc.json --fix, markdownlint-cli2 --fix

chore: normalize mcp/package.json after npm pkg fix
  mcp/package.json
Due: none

fix: suppress FB in-app browser Java bridge Sentry noise; bump to 2.2.1 / 3.2.1
  CHANGELOG.md
  package-lock.json
  package.json
  web/package.json
  web/src/utils/sentry-ignore-patterns.ts
  web/tests/sentry-ignore-patterns.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

chore: bump AGP 9.1.0 -> 9.1.1; gitignore nested xcuserdata; bump to 2.2.2 / 3.2.2
  .gitignore
  CHANGELOG.md
  android/build.gradle.kts
  package-lock.json
  package.json
  web/package.json
Due: markdownlint-cli2 --fix

chore: clean up iOS gitignore; untrack Xcode per-user state; refine ship skill; bump to 2.2.3
  .claude/skills/ship/SKILL.md
  .gitignore
  CHANGELOG.md
  ios/MurphysLaws.xcodeproj/project.xcworkspace/xcuserdata/ravidor.xcuserdatad/UserInterfaceState.xcuserstate
  ios/MurphysLaws/MurphysLaws.xcodeproj/project.xcworkspace/xcuserdata/ravidor.xcuserdatad/UserInterfaceState.xcuserstate
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix
