Repository ravidorr/murphys-laws: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config web/eslint.config.test.ts --fix, stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, eslint --config backend/eslint.config.ts --fix, eslint --fix || echo 'Linting skipped: shared eslint not configured yet', markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "web/**/!(*.test).{js,mjs,ts}": [
    "eslint --config web/eslint.config.ts --fix"
  ],
  "web/**/*.test.{js,ts}": [
    "eslint --config web/eslint.config.test.ts --fix"
  ],
  "web/styles/**/*.css": [
    "stylelint --config web/.stylelintrc.json --fix"
  ],
  "web/**/*.html": [
    "npx html-validate --config web/.htmlvalidate.json"
  ],
  "backend/**/*.{js,mjs}": [
    "eslint --config backend/eslint.config.ts --fix"
  ],
  "shared/**/*.{js,mjs}": [
    "eslint --fix || echo 'Linting skipped: shared eslint not configured yet'"
  ],
  "**/*.md": [
    "markdownlint-cli2 --fix"
  ]
}

Remove hero section from home page (SPA and SSG)
  CHANGELOG.md
  web/package.json
  web/scripts/ssg.ts
  web/src/utils/constants.ts
  web/src/views/home.ts
Due: markdownlint-cli2 --fix

QA teardown: SSG pre-render browse/category, retry states, URL params, share popover, law nav, a11y, error boundary; bump web to 3.1.0
  CHANGELOG.md
  shared/content/origin-story.md
  web/index.html
  web/package.json
  web/public/_redirects
  web/scripts/check-coverage.ts
  web/scripts/ssg.ts
  web/src/components/breadcrumb.ts
  web/src/components/export-menu.ts
  web/src/components/law-of-day.ts
  web/src/components/social-share.ts
  web/src/components/submit-law.ts
  web/src/components/templates/law-of-day.html
  web/src/main.ts
  web/src/router.ts
  web/src/utils/constants.ts
  web/src/utils/export.ts
  web/src/utils/law-card-renderer.ts
  web/src/utils/voting.ts
  web/src/views/browse.ts
  web/src/views/categories.ts
  web/src/views/category-detail.ts
  web/src/views/home.ts
  web/src/views/law-detail.ts
  web/src/views/templates/law-detail.html
  web/src/views/templates/submit-law-section.html
  web/styles/partials/base.css
  web/styles/partials/components.css
  web/styles/partials/sections.css
  web/tests/branch-coverage.test.ts
  web/tests/browse.test.ts
  web/tests/categories.test.ts
  web/tests/category-detail.test.ts
  web/tests/export-menu.test.ts
  web/tests/export.test.ts
  web/tests/home.test.ts
  web/tests/law-detail.test.ts
  web/tests/law-of-day.test.ts
  web/tests/social-share.test.ts
  web/vite.config.ts
Due: eslint --config web/eslint.config.test.ts --fix, stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

fix(web): expand Science section by default, remove inline styles
  package-lock.json
  package.json
  web/eslint.config.ts
  web/package.json
  web/src/views/browse.ts
  web/src/views/categories.ts
  web/src/views/category-detail.ts
  web/src/views/home.ts
Due: none

fix(web): standardize section headings to two-line title + subtitle
  package-lock.json
  package.json
  web/package.json
  web/src/views/home.ts
  web/styles/partials/sections.css
Due: stylelint --config web/.stylelintrc.json --fix

chore: remove all v8 ignore comments, bump to 2.0.26 / 3.1.3
  CHANGELOG.md
  backend/src/middleware/rate-limit.ts
  backend/vitest.config.ts
  package.json
  web/package.json
  web/scripts/check-coverage.ts
  web/src/components/advanced-search.ts
  web/src/utils/copy-actions.ts
  web/src/utils/error-handler.ts
  web/src/utils/markdown-content.ts
  web/src/utils/mathjax.ts
  web/src/views/buttered-toast-calculator.ts
  web/src/views/category-detail.ts
  web/src/views/favorites.ts
  web/src/views/home.ts
  web/src/views/law-detail.ts
  web/src/views/sods-calculator.ts
  web/src/views/templates/sods-calculator.html
  web/tests/advanced-search.test.ts
  web/tests/attribution.test.ts
  web/tests/branch-coverage.test.ts
  web/tests/breadcrumb.test.ts
  web/tests/browse.test.ts
  web/tests/constants.test.ts
  web/tests/footer.test.ts
  web/tests/home.test.ts
  web/tests/law-detail-coverage.test.ts
  web/tests/law-detail.test.ts
  web/tests/lazy-loader.test.ts
  web/tests/social-share.test.ts
  web/tests/sods-calculator-coverage.test.ts
  web/tests/sods-calculator.test.ts
  web/uncovered-branches.md
  web/vite.config.ts
Due: eslint --config web/eslint.config.test.ts --fix, npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

chore: npm audit fix
  CHANGELOG.md
  package-lock.json
Due: markdownlint-cli2 --fix

chore: backend CI install Rollup Linux binary, bump to 2.0.27
  .github/workflows/backend-ci.yml
  CHANGELOG.md
  package.json
Due: markdownlint-cli2 --fix

chore: web CI install Rollup Linux binary, bump to 2.0.28
  .github/workflows/web-ci.yml
  CHANGELOG.md
  package.json
Due: markdownlint-cli2 --fix

chore: deploy workflow install Rollup Linux binary, bump to 2.0.29
  .github/workflows/deploy.yml
  CHANGELOG.md
  package.json
Due: markdownlint-cli2 --fix

Home: Science section always visible (plain section, no details/summary)
  CHANGELOG.md
  package.json
  web/package.json
  web/src/views/home.ts
  web/styles/partials/sections.css
  web/tests/home.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, stylelint --config web/.stylelintrc.json --fix, markdownlint-cli2 --fix

Breadcrumb: one separator before each item after Home; docs and version bump
  CHANGELOG.md
  package.json
  web/package.json
  web/src/components/breadcrumb.ts
  web/tests/breadcrumb.test.ts
  web/uncovered-branches.md
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

Share: all options in popover for cleaner UI; remove top row
  CHANGELOG.md
  package.json
  web/README.md
  web/package.json
  web/src/components/social-share.ts
  web/styles/partials/components.css
  web/tests/law-detail.test.ts
  web/tests/law-of-day.test.ts
  web/tests/social-share.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, stylelint --config web/.stylelintrc.json --fix, markdownlint-cli2 --fix

feat(web): favorite bookmark icon, vote group, law card h3; backend/api fixes; bump root 2.0.33, web 3.1.7
  CHANGELOG.md
  backend/src/controllers/laws.controller.ts
  backend/src/services/laws.service.ts
  backend/tests/controllers/laws.controller.test.ts
  backend/tests/services/laws.service.test.ts
  package.json
  web/package.json
  web/src/components/law-of-day.ts
  web/src/components/templates/law-of-day.html
  web/src/main.ts
  web/src/utils/api.ts
  web/src/utils/icons.ts
  web/src/utils/law-card-renderer.ts
  web/src/views/law-detail.ts
  web/src/views/templates/law-detail.html
  web/styles/partials/sections.css
  web/tests/api.test.ts
  web/tests/favorites-view.test.ts
  web/tests/icons.test.ts
  web/tests/law-card-renderer.test.ts
  web/tests/law-detail.test.ts
  web/tests/law-of-day.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

fix(web): law detail no-title fallback to Murphy's Law with accent; bump root 2.0.34, web 3.1.8
  CHANGELOG.md
  package.json
  web/package.json
  web/src/views/law-detail.ts
  web/tests/law-detail-coverage.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix(web): scope AdSense CSS to footer so side-rail ads do not block clicks; bump root 2.0.35, web 3.1.9
  CHANGELOG.md
  package.json
  web/package.json
  web/styles/partials/layout.css
Due: stylelint --config web/.stylelintrc.json --fix, markdownlint-cli2 --fix

fix(web): vote hint as tooltip on vote-group; data-tooltip on up/down buttons; add test; bump root 2.0.36, web 3.1.10
  CHANGELOG.md
  package.json
  web/package.json
  web/src/components/templates/law-of-day.html
  web/src/utils/law-card-renderer.ts
  web/src/views/templates/law-detail.html
  web/styles/partials/sections.css
  web/tests/law-card-renderer.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

fix(web): hideAds only on NotFound; hide footer-ad-shell when hideAds or insufficient content; print hide ins
  CHANGELOG.md
  package.json
  web/README.md
  web/package.json
  web/src/components/footer.ts
  web/src/main.ts
  web/styles/partials/print.css
  web/tests/footer.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, stylelint --config web/.stylelintrc.json --fix, markdownlint-cli2 --fix

fix(web): print hide all ads with broader selectors and :has() iframe wrappers
  CHANGELOG.md
  docs/print-ads-debug-console-script.js
  web/styles/partials/print.css
Due: stylelint --config web/.stylelintrc.json --fix, markdownlint-cli2 --fix

fix(web): single combined vote tooltip on vote-group to avoid hiding button tooltips
  CHANGELOG.md
  package.json
  web/package.json
  web/src/components/templates/law-of-day.html
  web/src/utils/law-card-renderer.ts
  web/src/views/templates/law-detail.html
  web/tests/law-card-renderer.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

fix: prevent error banner from SW precache 404 and unhandled browse rejections
  CHANGELOG.md
  package.json
  shared/docs/DEPLOYMENT.md
  web/README.md
  web/package.json
  web/src/utils/sentry-ignore-patterns.ts
  web/src/views/browse.ts
  web/tests/sentry-ignore-patterns.test.ts
  web/vite.config.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix: remove law-of-day preload to avoid unused preload console warning
  CHANGELOG.md
  package.json
  web/index.html
  web/package.json
Due: npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

fix: handle SW registration.update() rejection (InvalidStateError)
  CHANGELOG.md
  package.json
  web/package.json
  web/src/main.ts
  web/src/utils/service-worker-update.ts
  web/tests/service-worker-update.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix: ignore stale SW InvalidStateError in Sentry
  CHANGELOG.md
  package.json
  web/package.json
  web/src/utils/sentry-ignore-patterns.ts
  web/tests/sentry-ignore-patterns.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

fix: safe PWA localStorage; Sentry only filter extension errors
  CHANGELOG.md
  package.json
  web/README.md
  web/package.json
  web/src/components/install-prompt.ts
  web/src/utils/sentry-ignore-patterns.ts
  web/tests/sentry-ignore-patterns.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

Web: suppress error banner for SW transient errors; add tests and docs
  CHANGELOG.md
  package.json
  web/README.md
  web/package.json
  web/src/main.ts
  web/src/utils/error-handler.ts
  web/tests/error-handler.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

Web: hide footer ad shell until load triggered; add test and docs
  CHANGELOG.md
  package.json
  web/README.md
  web/package.json
  web/src/components/footer.ts
  web/tests/footer.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

Web: favorite in vote-group, bookmark viewBox, tests, docs
  CHANGELOG.md
  TODO.md
  package.json
  web/package.json
  web/src/components/templates/law-of-day.html
  web/src/utils/icons.ts
  web/src/utils/law-card-renderer.ts
  web/src/views/templates/law-detail.html
  web/styles/partials/sections.css
  web/tests/icons.test.ts
  web/tests/law-card-renderer.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, stylelint --config web/.stylelintrc.json --fix, npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

Web: law detail no Sent/Submitted duplication; bookmark icon size fix
  CHANGELOG.md
  package.json
  web/package.json
  web/src/utils/icons.ts
  web/src/views/law-detail.ts
  web/tests/icons.test.ts
  web/tests/law-detail-coverage.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

chore: bump to 2.0.48 / 3.1.22, favorite button filled bookmark icon
  CHANGELOG.md
  TODO.md
  package.json
  web/package.json
  web/src/components/law-of-day.ts
  web/src/components/templates/law-of-day.html
  web/src/main.ts
  web/src/utils/law-card-renderer.ts
  web/src/views/law-detail.ts
  web/src/views/templates/law-detail.html
  web/tests/law-card-renderer.test.ts
  web/tests/law-detail-coverage.test.ts
  web/tests/law-detail.test.ts
  web/tests/law-of-day.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

chore: add .cursor/ to .gitignore
  .gitignore
Due: none

fix: PWA navigateFallback to index.html, E2E and combobox accessibility; bump root 2.0.49, web 3.1.23
  CHANGELOG.md
  package.json
  shared/docs/DEPLOYMENT.md
  web/README.md
  web/e2e/accessibility.spec.ts
  web/e2e/navigation.spec.ts
  web/e2e/pwa.spec.ts
  web/package.json
  web/playwright.config.ts
  web/src/components/search-autocomplete.ts
  web/src/components/templates/advanced-search.html
  web/tests/advanced-search.test.ts
  web/tests/search-autocomplete.test.ts
  web/tsconfig.json
  web/vite.config.ts
Due: eslint --config web/eslint.config.test.ts --fix, npx html-validate --config web/.htmlvalidate.json, markdownlint-cli2 --fix

chore: bump minimatch override to 10.2.4 for audit
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint-cli2 --fix

chore: E2E on pre-commit and web-ci; bump root 2.0.50, web 3.1.24
  .github/workflows/web-ci.yml
  .husky/pre-commit
  CHANGELOG.md
  GEMINI.md
  package.json
  shared/docs/MOBILE-REPOSITORY-STRUCTURE.md
  web/README.md
  web/package.json
Due: markdownlint-cli2 --fix

chore: remove print-ads-debug-console-script, bump to 2.0.51 / 3.1.25
  CHANGELOG.md
  docs/print-ads-debug-console-script.js
  package.json
  web/package.json
Due: markdownlint-cli2 --fix

chore: npm run test includes E2E, bump to 2.0.52 / 3.1.26
  CHANGELOG.md
  GEMINI.md
  README.md
  docs/DEPENDENCY_MAJOR_UPGRADES.md
  package-lock.json
  package.json
  shared/docs/MOBILE-REPOSITORY-STRUCTURE.md
  web/package.json
Due: markdownlint-cli2 --fix

chore: footer ad placeholder zero size until ad loads, bump to 2.0.53 / 3.1.27
  CHANGELOG.md
  package.json
  web/README.md
  web/package.json
  web/styles/partials/layout.css
Due: stylelint --config web/.stylelintrc.json --fix, markdownlint-cli2 --fix

fix: My Favorites show law content, bump to 2.0.54 / 3.1.28
  CHANGELOG.md
  package.json
  web/package.json
  web/src/main.ts
  web/src/views/favorites.ts
  web/src/views/law-detail.ts
  web/tests/favorites-view.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix

Fix pagination button clicks on label/icon; bump to 2.0.55, web 3.1.29
  CHANGELOG.md
  package.json
  web/package.json
  web/src/views/browse.ts
  web/src/views/category-detail.ts
  web/tests/browse.test.ts
  web/tests/category-detail.test.ts
Due: eslint --config web/eslint.config.test.ts --fix, markdownlint-cli2 --fix
