Repository ravidorr/murphys-laws: changes, and which lint-staged commands are due for each by the changed paths.
All: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate, cd backend && eslint --fix, eslint --fix || echo 'Linting skipped: shared eslint not configured yet'

refactor: Optimize app icons with adaptive icon support
  android/app/src/main/ic_launcher-playstore.png
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/drawable/ic_launcher_foreground.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  android/app/src/main/res/values/ic_launcher_background.xml
Due: none

refactor: Clean up code and simplify logic
  android/app/src/androidTest/java/com/murphyslaws/CustomTestRunner.kt
  android/app/src/androidTest/java/com/murphyslaws/presentation/home/HomeScreenTest.kt
  android/app/src/main/java/com/murphyslaws/presentation/search/SearchViewModel.kt
  android/app/src/main/java/com/murphyslaws/ui/theme/Color.kt
Due: none

fix: Use explicit Locale.US in String.format for consistent number formatting
  android/app/src/main/java/com/murphyslaws/presentation/calculators/CalculatorsScreen.kt
Due: none

refactor: Replace unused exception parameter with underscore
  android/app/src/main/java/com/murphyslaws/presentation/calculators/CalculatorsScreen.kt
Due: none

fix: Remove unused Moshi codegen dependency to eliminate Kapt warning
  android/app/build.gradle.kts
Due: none

fix: Resolve Android deprecation warnings
  android/app/build.gradle.kts
  android/app/src/main/java/com/murphyslaws/presentation/MainApp.kt
  android/app/src/main/java/com/murphyslaws/presentation/browse/BrowseScreen.kt
  android/app/src/main/java/com/murphyslaws/presentation/home/HomeScreen.kt
  android/app/src/main/java/com/murphyslaws/presentation/lawdetail/LawDetailScreen.kt
  android/app/src/main/java/com/murphyslaws/presentation/more/MoreScreen.kt
  android/app/src/main/java/com/murphyslaws/presentation/search/SearchScreen.kt
  android/app/src/main/java/com/murphyslaws/presentation/submit/SubmitLawScreen.kt
  android/app/src/main/java/com/murphyslaws/ui/theme/Theme.kt
  android/build.gradle.kts
Due: none

refactor: Replace deprecated ClickableText with Text and LinkAnnotation
  android/app/src/main/java/com/murphyslaws/util/MarkdownParser.kt
Due: none

fix: Add KotlinJsonAdapterFactory to Moshi and add debug logging
  android/app/src/main/java/com/murphyslaws/di/NetworkModule.kt
  android/app/src/main/java/com/murphyslaws/presentation/home/HomeViewModel.kt
Due: none

refactor: Remove debug logging from HomeViewModel
  android/app/src/main/java/com/murphyslaws/presentation/home/HomeViewModel.kt
Due: none

refactor: Address high-priority Android inspection warnings
  android/app/build.gradle.kts
  android/app/src/main/java/com/murphyslaws/ui/theme/Theme.kt
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/mipmap-anydpi/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi/ic_launcher_round.xml
Due: none

refactor: Remove debug logging from Pendo SDK initialization
  android/app/src/main/java/com/murphyslaws/MurphysLawsApp.kt
  android/app/src/main/java/com/murphyslaws/presentation/MainApp.kt
Due: none

feat: Implement comprehensive AdSense compliance safeguards
  web/src/components/footer.js
  web/src/main.js
  web/src/utils/ads.js
  web/src/views/about.js
  web/src/views/categories.js
  web/src/views/category-detail.js
  web/src/views/contact.js
  web/src/views/origin-story.js
  web/src/views/privacy.js
  web/src/views/terms.js
  web/tests/footer.test.js
Due: cd web && eslint --fix

test: Add comprehensive tests for AdSense content validation
  web/tests/ads.test.js
Due: cd web && eslint --fix

fix: Remove AdSense from calculator pages to comply with content policies
  web/src/views/buttered-toast-calculator.js
  web/src/views/home.js
  web/src/views/sods-calculator.js
Due: cd web && eslint --fix

docs: Add comprehensive server maintenance guide
  SERVER_MAINTENANCE.md
Due: none

fix: Add explicit content validation to all AdSense triggers
  web/src/views/browse.js
  web/src/views/law-detail.js
Due: cd web && eslint --fix

fix: Remove AdSense from low-value and navigational pages
  web/src/main.js
  web/src/views/categories.js
  web/src/views/contact.js
Due: cd web && eslint --fix

fix: remove AdSense from interactive tools and browse pages
  GEMINI.md
  web/src/main.js
Due: cd web && eslint --fix

test: increase code coverage to >95%
  web/tests/footer-coverage.test.js
  web/tests/sods-share-coverage.test.js
Due: cd web && eslint --fix

feat: enhance ESLint configuration and improve markdown handling
  web/eslint.config.js
  web/src/utils/markdown-content.js
  web/src/utils/mathjax.js
  web/tests/browse-coverage.test.js
  web/tests/footer-coverage.test.js
  web/tests/home-coverage.test.js
  web/tests/law-detail-coverage.test.js
  web/tests/mathjax-coverage.test.js
  web/tests/sods-calculator-coverage.test.js
  web/tests/third-party-coverage.test.js
Due: cd web && eslint --fix

Android app Submit a Law -> Submit Law
  android/app/src/androidTest/java/com/murphyslaws/presentation/MainAppNavigationTest.kt
  android/app/src/main/java/com/murphyslaws/presentation/MainApp.kt
  android/app/src/main/java/com/murphyslaws/presentation/submit/SubmitLawScreen.kt
  android/build.gradle.kts
Due: none

chore: update NGINX config for SSG and auto-reload on deploy
  .github/workflows/deploy.yml
  nginx.conf
Due: none

Android app Submit a Law -> Submit Law
  backend/src/controllers/laws.controller.mjs
  backend/src/services/laws.service.mjs
  web/package.json
  web/scripts/ssg.mjs
  web/src/components/header.js
  web/src/components/templates/footer.html
  web/src/components/templates/header.html
  web/src/main.js
  web/src/router.js
  web/src/utils/api.js
  web/src/views/categories.js
  web/src/views/category-detail.js
  web/tests/router.test.js
Due: cd web && eslint --fix, cd web && npx html-validate, cd backend && eslint --fix

fix: pre-render home page with category list for SEO
  web/scripts/ssg.mjs
Due: cd web && eslint --fix

chore: update pre-push hook message to reflect auto-deployment
  .husky/pre-push
Due: none

test: increase branch coverage for router, markdown-content, and utils
  web/tests/markdown-content.test.js
  web/tests/router.test.js
  web/tests/sods-calculator-coverage.test.js
  web/tests/third-party-coverage.test.js
Due: cd web && eslint --fix

test: achieve >95% branch coverage with additional targeted tests
  .husky/pre-push
  web/src/utils/third-party.js
  web/tests/mathjax-coverage.test.js
  web/tests/sods-calculator-coverage.test.js
  web/tests/third-party-coverage.test.js
Due: cd web && eslint --fix

fix: restore header layout using flexbox on brand-wrapper
  web/styles/partials/layout.css
Due: cd web && stylelint --fix

fix: robustness and test expectations for home view categories
  web/src/views/home.js
  web/tests/home.test.js
Due: cd web && eslint --fix

fix: implement category grid styles and section spacing
  web/src/views/home.js
  web/styles/partials/sections.css
Due: cd web && eslint --fix, cd web && stylelint --fix

feat: reorder home page sections (calculators above categories)
  web/scripts/ssg.mjs
  web/src/views/home.js
  web/tests/home.test.js
Due: cd web && eslint --fix

style: fix lint indentation errors in markdown-content tests
  web/tests/markdown-content.test.js
Due: cd web && eslint --fix

test: consolidate mathjax tests and remove flaky coverage file
  web/tests/mathjax-coverage.test.js
  web/tests/mathjax.test.js
Due: cd web && eslint --fix

chore: add test:coverage script to backend
  backend/package.json
Due: none

test: improve backend coverage to >90% branches and >95% lines
  backend/src/controllers/laws.controller.mjs
  backend/tests/controllers/laws.controller.test.js
  backend/tests/services/laws.service.test.js
Due: cd backend && eslint --fix

test: improve http-helpers coverage
  backend/tests/utils/http-helpers.test.js
Due: cd backend && eslint --fix

fix: import hydrateIcons in Home view
  web/src/views/home.js
Due: cd web && eslint --fix

style: fix html validation and add icons to section titles
  web/eslint.config.test.js
  web/src/components/templates/buttered-toast-calculator-simple.html
  web/src/components/templates/law-of-day.html
  web/src/components/templates/sod-calculator-simple.html
  web/src/views/templates/submit-law-section.html
  web/src/views/terms.js
Due: cd web && eslint --fix, cd web && npx html-validate

style: revert icon addition to match clean section style
  web/src/components/templates/buttered-toast-calculator-simple.html
  web/src/components/templates/law-of-day.html
  web/src/components/templates/sod-calculator-simple.html
  web/src/views/home.js
  web/src/views/templates/submit-law-section.html
Due: cd web && eslint --fix, cd web && npx html-validate

style: add accent-text to Popular Categories title
  web/src/views/home.js
Due: cd web && eslint --fix

Path conditions:
  cd web && eslint --fix: any of: web/**/*.{js,mjs}
  cd web && stylelint --fix: any of: web/styles/**/*.css
  cd web && npx html-validate: any of: web/**/*.html
  cd backend && eslint --fix: any of: backend/**/*.{js,mjs}
  eslint --fix || echo 'Linting skipped: shared eslint not configured yet': any of: shared/**/*.{js,mjs}
