Repository ravidorr/murphys-laws: changes, and which lint-staged commands are due for each by the changed paths.
All: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate, cd backend && eslint --fix, eslint --fix || echo 'Linting skipped: shared eslint not configured yet'

feat: add RSS and Atom feed support
  README.md
  TODO.md
  backend/README.md
  backend/scripts/api-server.mjs
  backend/src/controllers/feed.controller.mjs
  backend/src/services/feed.service.mjs
  backend/src/utils/constants.js
  backend/tests/controllers/feed.controller.test.js
  backend/tests/services/feed.service.test.js
  shared/docs/API.md
  web/index.html
  web/src/components/footer.js
  web/src/components/templates/footer.html
  web/styles/partials/components.css
  web/tests/icons.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate, cd backend && eslint --fix

feat(web): add print-optimized CSS for law pages
  web/styles/partials/print.css
  web/styles/site.css
Due: cd web && stylelint --fix

docs: mark print styles task as complete in TODO.md
  TODO.md
Due: none

feat: add search autocomplete with debounced suggestions
  README.md
  TODO.md
  backend/scripts/api-server.mjs
  backend/src/controllers/laws.controller.mjs
  backend/src/services/laws.service.mjs
  backend/tests/controllers/laws.controller.test.js
  backend/tests/services/laws.service.test.js
  shared/docs/API.md
  shared/docs/API_ENDPOINTS.md
  web/src/components/header.js
  web/src/components/search-autocomplete.js
  web/src/components/templates/keyboard-help-modal.html
  web/src/utils/api.js
  web/src/utils/constants.js
  web/src/utils/debounce.js
  web/src/utils/keyboard-shortcuts.js
  web/styles/partials/layout.css
  web/tests/header.test.js
  web/tests/keyboard-shortcuts.test.js
  web/tests/search-autocomplete.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate, cd backend && eslint --fix

test: add unit tests for debounce utility
  web/tests/debounce.test.js
Due: cd web && eslint --fix

fix: update CSS alpha values to percentage notation for stylelint compliance
  web/styles/partials/layout.css
Due: cd web && stylelint --fix

test: improve code coverage to meet 90% threshold
  web/tests/api.test.js
  web/tests/buttered-toast-calculator.test.js
  web/tests/search-autocomplete.test.js
  web/tests/social-share.test.js
  web/tests/sods-calculator-coverage.test.js
  web/tests/sods-calculator.test.js
Due: cd web && eslint --fix

feat: add related laws API endpoint
  backend/scripts/api-server.mjs
  backend/src/controllers/laws.controller.mjs
  backend/src/services/laws.service.mjs
  backend/tests/controllers/laws.controller.test.js
  backend/tests/services/laws.service.test.js
  shared/docs/API.md
  shared/docs/API_ENDPOINTS.md
  web/src/utils/api.js
  web/src/views/law-detail.js
  web/src/views/templates/law-detail.html
  web/tests/api.test.js
  web/tests/law-detail.test.js
Due: cd web && eslint --fix, cd web && npx html-validate, cd backend && eslint --fix

feat: add descriptions to all 55 categories
  TODO.md
  backend/db/migrations/010_populate_category_descriptions.sql
  backend/tests/services/categories.service.test.js
  shared/docs/API.md
  web/src/views/category-detail.js
  web/src/views/templates/category-detail.html
  web/tests/category-detail.test.js
Due: cd web && eslint --fix, cd web && npx html-validate, cd backend && eslint --fix

fix: return 404 for related laws of non-existent law
  backend/src/controllers/laws.controller.mjs
  backend/tests/controllers/laws.controller.test.js
  shared/docs/API.md
Due: cd backend && eslint --fix

fix: add box-sizing to footer-ad elements to prevent overflow on small screens
  web/styles/partials/layout.css
Due: cd web && stylelint --fix

feat(web): improve Law Not Found page design
  web/src/views/templates/law-detail.html
  web/styles/partials/sections.css
Due: cd web && stylelint --fix, cd web && npx html-validate

fix: add descriptions for 9 categories with production slug mismatches
  backend/db/migrations/011_fix_category_description_slugs.sql
Due: none

feat: add reusable button component with consistent icon placement
  web/src/components/notification.js
  web/src/components/social-share.js
  web/src/components/templates/advanced-search.html
  web/src/components/templates/header.html
  web/src/components/templates/law-of-day.html
  web/src/utils/button.js
  web/src/utils/dom.js
  web/src/utils/law-card-renderer.js
  web/src/utils/pagination.js
  web/src/views/templates/law-detail.html
  web/src/views/templates/not-found.html
  web/src/views/templates/sods-calculator.html
  web/src/views/templates/submit-law-section.html
  web/tests/button.test.js
Due: cd web && eslint --fix, cd web && npx html-validate

feat: add initial worktree setup configuration
  .cursor/worktrees.json
Due: none

fix: correct indentation in law-card-renderer.js for ESLint
  web/src/utils/law-card-renderer.js
Due: cd web && eslint --fix

fix: move attribution paragraph in LawOfTheDay component
  web/src/components/law-of-day.js
Due: cd web && eslint --fix

fix: remove unused variables in optimize-images.mjs
  web/scripts/optimize-images.mjs
Due: cd web && eslint --fix

refactor: remove "Read more" link from LawOfTheDay component and associated styles
  web/src/components/law-of-day.js
  web/styles/partials/sections.css
  web/tests/law-of-day.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix

fix: add required indicator to public domain release checkbox
  web/src/views/templates/submit-law-section.html
Due: cd web && npx html-validate

refactor: update SubmitLawSection usage and improve accessibility
  web/src/components/search-autocomplete.js
  web/src/main.js
  web/src/router.js
  web/src/views/home.js
  web/src/views/templates/submit-law-section.html
  web/styles/partials/components.css
  web/styles/partials/utilities.css
  web/tests/router.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

feat(web): add Browse Laws by Category page
  TODO.md
  web/src/components/templates/header.html
  web/src/main.js
  web/src/views/categories.js
  web/src/views/templates/categories.html
  web/styles/partials/components.css
  web/tests/categories.test.js
  web/tests/header.test.js
  web/tests/router.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

refactor: unify loading states into single component
  web/src/components/law-list-section.js
  web/src/components/law-of-day.js
  web/src/components/loading.js
  web/src/components/trending.js
  web/src/utils/dom.js
  web/src/views/browse.js
  web/src/views/category-detail.js
  web/src/views/home.js
  web/src/views/law-detail.js
  web/src/views/templates/category-detail.html
  web/src/views/templates/law-detail.html
  web/styles/partials/components.css
  web/styles/partials/theme.css
  web/styles/partials/variables.css
  web/tests/dom.test.js
  web/tests/law-of-day.test.js
  web/tests/loading.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

feat(ssg): add categories page to static site generation
  web/scripts/ssg.mjs
Due: cd web && eslint --fix

feat(web): add User Favorites/Bookmarks feature with unified tooltip system
  TODO.md
  web/src/components/header.js
  web/src/components/templates/header.html
  web/src/main.js
  web/src/utils/button.js
  web/src/utils/favorites.js
  web/src/utils/feature-flags.js
  web/src/utils/icons.js
  web/src/utils/law-card-renderer.js
  web/src/views/favorites.js
  web/src/views/law-detail.js
  web/src/views/templates/favorites.html
  web/src/views/templates/law-detail.html
  web/src/views/templates/sods-calculator.html
  web/src/views/templates/submit-law-section.html
  web/styles/partials/components.css
  web/styles/partials/sections.css
  web/styles/partials/variables.css
  web/tests/button.test.js
  web/tests/favorites.test.js
  web/tests/feature-flags.test.js
  web/tests/header.test.js
  web/tests/law-card-renderer.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

fix(web): prevent horizontal scroll from tooltips
  web/styles/partials/base.css
Due: cd web && stylelint --fix

refactor(web): improve favorites page UX with card-based layout
  web/src/components/header.js
  web/src/views/favorites.js
  web/src/views/templates/favorites.html
  web/styles/partials/sections.css
  web/styles/site.css
  web/tests/favorites-view.test.js
  web/tests/header.test.js
Due: cd web && eslint --fix, cd web && stylelint --fix, cd web && npx html-validate

test(web): increase branch coverage to 95%
  web/src/views/favorites.js
  web/tests/categories.test.js
  web/tests/favorites-view.test.js
  web/tests/feature-flags.test.js
  web/tests/law-card-renderer.test.js
  web/tests/law-detail.test.js
Due: cd web && eslint --fix

feat(web): add schema versioning to localStorage cache
  TODO.md
  web/src/utils/category-cache.js
  web/tests/category-cache.test.js
  web/tests/law-detail.test.js
Due: cd web && eslint --fix

feat: add dynamic Open Graph images for per-law social sharing
  README.md
  backend/README.md
  backend/package.json
  backend/scripts/api-server.mjs
  backend/src/controllers/og-image.controller.mjs
  backend/src/services/og-image.service.mjs
  backend/tests/controllers/og-image.controller.test.js
  backend/tests/services/og-image.service.test.js
  nginx.conf
  package-lock.json
  shared/docs/API.md
  web/README.md
  web/scripts/ssg.mjs
  web/src/views/law-detail.js
Due: cd web && eslint --fix, cd backend && eslint --fix

feat(og-image): add Murphy's Laws logo to OG images
  backend/src/services/og-image.service.mjs
  backend/tests/services/og-image.service.test.js
Due: cd backend && eslint --fix

test(og-image): add test for image generation with valid logo
  TODO.md
  backend/tests/services/og-image.service.test.js
Due: cd backend && eslint --fix

docs: update TODO.md formatting
  TODO.md
Due: none

fix(deploy): set API_BASE_URL for SSG to generate law pages
  .github/workflows/deploy.yml
  law-100.png
  law-5.png
Due: none

chore: remove test PNG files
  law-100.png
  law-5.png
Due: none

fix(og-image): use correct logo path for production
  backend/src/services/og-image.service.mjs
Due: cd backend && eslint --fix

fix(ssg): correct pagination to fetch all laws from API
  web/scripts/ssg.mjs
Due: cd web && eslint --fix

feat: add Facebook App ID for OG tags
  web/index.html
Due: cd web && npx html-validate

fix(ssg): add trailing slash to law URLs to prevent circular redirect
  web/scripts/ssg.mjs
  web/src/views/law-detail.js
Due: cd web && eslint --fix

Path conditions:
  cd web && eslint --fix: any of: web/**/*.{js,mjs}
  cd web && stylelint --fix: any of: web/styles/**/*.css
  cd web && npx html-validate: any of: web/**/*.html
  cd backend && eslint --fix: any of: backend/**/*.{js,mjs}
  eslint --fix || echo 'Linting skipped: shared eslint not configured yet': any of: shared/**/*.{js,mjs}
